In [1]:
import numpy as np
import pandas as pd
import matplotlib as plt
import seaborn as sns

In [2]:
os.listdir()

NameError: name 'os' is not defined

In [3]:
import pandas as pd
apple = pd.read_csv("Apple.csv")
print(apple)

            Date        Open        High         Low       Close   Adj Close  \
0     2015-01-02   27.847500   27.860001   26.837500   27.332500   24.745996
1     2015-01-05   27.072500   27.162500   26.352501   26.562500   24.048864
2     2015-01-06   26.635000   26.857500   26.157499   26.565001   24.051125
3     2015-01-07   26.799999   27.049999   26.674999   26.937500   24.388372
4     2015-01-08   27.307501   28.037500   27.174999   27.972500   25.325430
...          ...         ...         ...         ...         ...         ...
1756  2021-12-22  173.039993  175.860001  172.149994  175.639999  175.639999
1757  2021-12-23  175.850006  176.850006  175.270004  176.279999  176.279999
1758  2021-12-27  177.089996  180.419998  177.070007  180.330002  180.330002
1759  2021-12-28  180.160004  181.330002  178.529999  179.289993  179.289993
1760  2021-12-29  179.330002  180.630005  178.139999  179.380005  179.380005

         Volume
0     212818400
1     257142000
2     263188400
3     160423600
4     237458000
...         ...
1756   92135300
1757   68227500
1758   74919600
1759   79144300
1760   62231200

[1761 rows x 7 columns]

In [4]:
tesla = pd.read_csv("Tesla.csv")
print (tesla)

            Date         Open         High          Low        Close  \
0     2011-01-03     5.368000     5.400000     5.180000     5.324000
1     2011-01-04     5.332000     5.390000     5.204000     5.334000
2     2011-01-05     5.296000     5.380000     5.238000     5.366000
3     2011-01-06     5.366000     5.600000     5.362000     5.576000
4     2011-01-07     5.600000     5.716000     5.580000     5.648000
...          ...          ...          ...          ...          ...
2762  2021-12-22   965.659973  1015.659973   957.049988  1008.869995
2763  2021-12-23  1006.799988  1072.979980   997.559998  1067.000000
2764  2021-12-27  1073.670044  1117.000000  1070.719971  1093.939941
2765  2021-12-28  1109.489990  1119.000000  1078.420044  1088.469971
2766  2021-12-29  1098.640015  1104.000000  1064.140015  1086.189941

        Adj Close    Volume
0        5.324000   6415000
1        5.334000   5937000
2        5.366000   7233500
3        5.576000  10306000
4        5.648000  11239500
...           ...       ...
2762  1008.869995  31211400
2763  1067.000000  30841900
2764  1093.939941  23715300
2765  1088.469971  20108000
2766  1086.189941  18616700

[2767 rows x 7 columns]

inspecting dataset individually

In [13]:
amazon = pd.read_csv("Amazon.csv")
print(amazon)

            Date         Open         High          Low        Close  \
0     2015-01-02   312.579987   314.750000   306.959991   308.519989
1     2015-01-05   307.010010   308.380005   300.850006   302.190002
2     2015-01-06   302.239990   303.000000   292.380005   295.290009
3     2015-01-07   297.500000   301.279999   295.329987   298.420013
4     2015-01-08   300.320007   303.140015   296.109985   300.459991
...          ...          ...          ...          ...          ...
1756  2021-12-22  3385.399902  3441.000000  3370.010010  3420.739990
1757  2021-12-23  3408.560059  3439.500000  3403.000000  3421.370117
1758  2021-12-27  3420.739990  3458.860107  3384.310059  3393.389893
1759  2021-12-28  3403.649902  3443.520020  3382.709961  3413.219971
1760  2021-12-29  3416.800049  3424.239990  3372.010010  3384.020020

        Adj Close   Volume
0      308.519989  2783200
1      302.190002  2774200
2      295.290009  3519000
3      298.420013  2640300
4      300.459991  3088400
...           ...      ...
1756  3420.739990  2751800
1757  3421.370117  1837500
1758  3393.389893  2934400
1759  3413.219971  2731900
1760  3384.020020  1782700

[1761 rows x 7 columns]

In [14]:
facebook = pd.read_csv("Facebook.csv")
print(facebook)

            Date        Open        High         Low       Close   Adj Close  \
0     2015-01-02   78.580002   78.930000   77.699997   78.449997   78.449997
1     2015-01-05   77.980003   79.250000   76.860001   77.190002   77.190002
2     2015-01-06   77.230003   77.589996   75.360001   76.150002   76.150002
3     2015-01-07   76.760002   77.360001   75.820000   76.150002   76.150002
4     2015-01-08   76.739998   78.230003   76.080002   78.180000   78.180000
...          ...         ...         ...         ...         ...         ...
1756  2021-12-22  333.799988  334.510010  328.260010  330.450012  330.450012
1757  2021-12-23  330.100006  336.670013  328.359985  335.239990  335.239990
1758  2021-12-27  338.850006  347.869995  338.010010  346.179993  346.179993
1759  2021-12-28  346.630005  352.709991  345.200012  346.220001  346.220001
1760  2021-12-29  346.910004  349.690002  341.640015  342.940002  342.940002

        Volume
0     18177500
1     26452200
2     27399300
3     22045300
4     23961000
...        ...
1756  16764600
1757  13977200
1758  17795000
1759  16637600
1760  10731700

[1761 rows x 7 columns]

In [15]:
google= pd.read_csv("Google.csv")
print(google)

            Date         Open         High          Low        Close  \
0     2015-01-02   527.561584   529.815369   522.665039   523.373108
1     2015-01-05   521.827332   522.894409   511.655243   512.463013
2     2015-01-06   513.589966   514.761719   499.678131   500.585632
3     2015-01-07   505.611847   505.855164   498.281952   499.727997
4     2015-01-08   496.626526   502.101471   489.655640   501.303680
...          ...          ...          ...          ...          ...
1756  2021-12-22  2882.000000  2946.060059  2879.260010  2938.979980
1757  2021-12-23  2941.790039  2971.451904  2939.017090  2942.850098
1758  2021-12-27  2949.270020  2968.530029  2945.000000  2961.280029
1759  2021-12-28  2967.489990  2967.489990  2918.709961  2928.959961
1760  2021-12-29  2928.590088  2943.675049  2910.090088  2930.090088

        Adj Close   Volume
0      523.373108  1447563
1      512.463013  2059840
2      500.585632  2899940
3      499.727997  2065054
4      501.303680  3353582
...           ...      ...
1756  2938.979980   921900
1757  2942.850098   690300
1758  2961.280029   662800
1759  2928.959961   931200
1760  2930.090088   851100

[1761 rows x 7 columns]

In [16]:
microsoft= pd.read_csv("Microsoft.csv")
print(microsoft)

            Date        Open        High         Low       Close   Adj Close  \
0     2015-01-02   46.660000   47.419998   46.540001   46.759998   41.193840
1     2015-01-05   46.369999   46.730000   46.250000   46.330002   40.815037
2     2015-01-06   46.380001   46.750000   45.540001   45.650002   40.215973
3     2015-01-07   45.980000   46.459999   45.490002   46.230000   40.726925
4     2015-01-08   46.750000   47.750000   46.720001   47.590000   41.925045
...          ...         ...         ...         ...         ...         ...
1756  2021-12-22  328.299988  333.609985  325.750000  333.200012  333.200012
1757  2021-12-23  332.750000  336.390015  332.730011  334.690002  334.690002
1758  2021-12-27  335.459991  342.480011  335.429993  342.450012  342.450012
1759  2021-12-28  343.149994  343.809998  340.320007  341.250000  341.250000
1760  2021-12-29  341.299988  344.299988  339.679993  341.950012  341.950012

        Volume
0     27913900
1     39673900
2     36447900
3     29114100
4     29645200
...        ...
1756  24831500
1757  19611200
1758  19947000
1759  15661500
1760  15027300

[1761 rows x 7 columns]

In [17]:
netflix= pd.read_csv("Netflix.csv")
print(netflix)

            Date        Open        High         Low       Close   Adj Close  \
0     2015-01-02   49.151428   50.331429   48.731430   49.848572   49.848572
1     2015-01-05   49.258572   49.258572   47.147144   47.311428   47.311428
2     2015-01-06   47.347141   47.639999   45.661430   46.501431   46.501431
3     2015-01-07   47.347141   47.421429   46.271427   46.742859   46.742859
4     2015-01-08   47.119999   47.835712   46.478573   47.779999   47.779999
...          ...         ...         ...         ...         ...         ...
1756  2021-12-22  603.359985  614.820007  602.630005  614.239990  614.239990
1757  2021-12-23  616.400024  616.880005  607.570007  614.090027  614.090027
1758  2021-12-27  615.000000  615.000000  609.250000  613.119995  613.119995
1759  2021-12-28  614.950012  618.409973  609.690002  610.710022  610.710022
1760  2021-12-29  610.710022  613.979980  604.679993  610.539978  610.539978

        Volume
0     13475000
1     18165000
2     16037700
3      9849700
4      9601900
...        ...
1756   2335700
1757   1620600
1758   2061500
1759   1882800
1760   1287200

[1761 rows x 7 columns]

In [18]:
uber= pd.read_csv("Uber.csv")
print(uber)

           Date       Open       High        Low      Close  Adj Close  \
0    2019-05-10  42.000000  45.000000  41.060001  41.570000  41.570000
1    2019-05-13  38.790001  39.240002  36.080002  37.099998  37.099998
2    2019-05-14  38.310001  39.959999  36.849998  39.959999  39.959999
3    2019-05-15  39.369999  41.880001  38.950001  41.290001  41.290001
4    2019-05-16  41.480000  44.060001  41.250000  43.000000  43.000000
..          ...        ...        ...        ...        ...        ...
661  2021-12-22  41.950001  43.230000  41.450001  43.020000  43.020000
662  2021-12-23  43.029999  44.349998  42.759998  43.910000  43.910000
663  2021-12-27  43.439999  44.240002  42.820000  42.959999  42.959999
664  2021-12-28  42.599998  43.740002  42.299999  42.540001  42.540001
665  2021-12-29  42.720001  42.930000  41.814999  42.459999  42.459999

        Volume
0    186322500
1     79442400
2     46661100
3     36086100
4     38115500
..         ...
661   27675700
662   21741900
663   28285000
664   21481000
665   15901800

[666 rows x 7 columns]

In [19]:
zoom= pd.read_csv("Zoom.csv")
print(zoom)

           Date        Open        High         Low       Close   Adj Close  \
0    2019-04-18   65.000000   66.000000   60.320999   62.000000   62.000000
1    2019-04-22   61.000000   68.900002   59.939999   65.699997   65.699997
2    2019-04-23   66.870003   74.168999   65.550003   69.000000   69.000000
3    2019-04-24   71.400002   71.500000   63.160000   63.200001   63.200001
4    2019-04-25   64.739998   66.849998   62.599998   65.000000   65.000000
..          ...         ...         ...         ...         ...         ...
676  2021-12-22  197.050003  200.250000  190.419998  193.130005  193.130005
677  2021-12-23  191.000000  193.410004  186.649994  191.649994  191.649994
678  2021-12-27  189.539993  190.440002  185.660004  187.440002  187.440002
679  2021-12-28  186.600006  190.630005  183.089996  183.770004  183.770004
680  2021-12-29  184.000000  185.214005  179.785004  181.809998  181.809998

       Volume
0    25764700
1     9949700
2     6786500
3     4973500
4     3863300
..        ...
676   2865900
677   3102900
678   3068500
679   3129100
680   2562800

[681 rows x 7 columns]

In [20]:
walmart= pd.read_csv("Walmart.csv")
print(walmart)

            Date        Open        High         Low       Close   Adj Close  \
0     2015-01-02   86.269997   86.720001   85.550003   85.900002   73.388664
1     2015-01-05   85.720001   86.320000   85.510002   85.650002   73.175095
2     2015-01-06   85.980003   86.750000   85.790001   86.309998   73.738953
3     2015-01-07   86.779999   88.680000   86.669998   88.599998   75.695427
4     2015-01-08   89.209999   90.669998   89.070000   90.470001   77.293053
...          ...         ...         ...         ...         ...         ...
1756  2021-12-22  139.899994  139.990005  138.529999  139.800003  139.800003
1757  2021-12-23  139.800003  140.160004  138.850006  139.490005  139.490005
1758  2021-12-27  139.600006  140.869995  139.570007  140.759995  140.759995
1759  2021-12-28  140.600006  142.970001  140.600006  142.779999  142.779999
1760  2021-12-29  142.660004  143.529999  142.320007  142.710007  142.710007

        Volume
0      4501800
1      6979000
2      8205100
3      8498400
4     12713600
...        ...
1756   5676000
1757   5862800
1758   5346900
1759   5261000
1760   4346800

[1761 rows x 7 columns]

In [10]:
import pandas as pd
import os

for file in os.listdir():
    if file.endswith(".csv"):
        print(f"\nðŸ“„ File: {file}")
        df = pd.read_csv(file)
        print(df.info())
        print(df.head(2))

ðŸ“„ File: Amazon.csv
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1761 entries, 0 to 1760
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       1761 non-null   object
 1   Open       1761 non-null   float64
 2   High       1761 non-null   float64
 3   Low        1761 non-null   float64
 4   Close      1761 non-null   float64
 5   Adj Close  1761 non-null   float64
 6   Volume     1761 non-null   int64
dtypes: float64(5), int64(1), object(1)
memory usage: 96.4+ KB
None
         Date        Open        High         Low       Close   Adj Close  \
0  2015-01-02  312.579987  314.750000  306.959991  308.519989  308.519989
1  2015-01-05  307.010010  308.380005  300.850006  302.190002  302.190002

    Volume
0  2783200
1  2774200

ðŸ“„ File: Apple.csv
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1761 entries, 0 to 1760
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       1761 non-null   object
 1   Open       1761 non-null   float64
 2   High       1761 non-null   float64
 3   Low        1761 non-null   float64
 4   Close      1761 non-null   float64
 5   Adj Close  1761 non-null   float64
 6   Volume     1761 non-null   int64
dtypes: float64(5), int64(1), object(1)
memory usage: 96.4+ KB
None
         Date     Open       High        Low    Close  Adj Close     Volume
0  2015-01-02  27.8475  27.860001  26.837500  27.3325  24.745996  212818400
1  2015-01-05  27.0725  27.162500  26.352501  26.5625  24.048864  257142000

ðŸ“„ File: Facebook.csv
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1761 entries, 0 to 1760
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       1761 non-null   object
 1   Open       1761 non-null   float64
 2   High       1761 non-null   float64
 3   Low        1761 non-null   float64
 4   Close      1761 non-null   float64
 5   Adj Close  1761 non-null   float64
 6   Volume     1761 non-null   int64
dtypes: float64(5), int64(1), object(1)
memory usage: 96.4+ KB
None
         Date       Open   High        Low      Close  Adj Close    Volume
0  2015-01-02  78.580002  78.93  77.699997  78.449997  78.449997  18177500
1  2015-01-05  77.980003  79.25  76.860001  77.190002  77.190002  26452200

ðŸ“„ File: Google.csv
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1761 entries, 0 to 1760
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       1761 non-null   object
 1   Open       1761 non-null   float64
 2   High       1761 non-null   float64
 3   Low        1761 non-null   float64
 4   Close      1761 non-null   float64
 5   Adj Close  1761 non-null   float64
 6   Volume     1761 non-null   int64
dtypes: float64(5), int64(1), object(1)
memory usage: 96.4+ KB
None
         Date        Open        High         Low       Close   Adj Close  \
0  2015-01-02  527.561584  529.815369  522.665039  523.373108  523.373108
1  2015-01-05  521.827332  522.894409  511.655243  512.463013  512.463013

    Volume
0  1447563
1  2059840

ðŸ“„ File: Microsoft.csv
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1761 entries, 0 to 1760
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       1761 non-null   object
 1   Open       1761 non-null   float64
 2   High       1761 non-null   float64
 3   Low        1761 non-null   float64
 4   Close      1761 non-null   float64
 5   Adj Close  1761 non-null   float64
 6   Volume     1761 non-null   int64
dtypes: float64(5), int64(1), object(1)
memory usage: 96.4+ KB
None
         Date       Open       High        Low      Close  Adj Close    Volume
0  2015-01-02  46.660000  47.419998  46.540001  46.759998  41.193840  27913900
1  2015-01-05  46.369999  46.730000  46.250000  46.330002  40.815037  39673900

ðŸ“„ File: Netflix.csv
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1761 entries, 0 to 1760
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       1761 non-null   object
 1   Open       1761 non-null   float64
 2   High       1761 non-null   float64
 3   Low        1761 non-null   float64
 4   Close      1761 non-null   float64
 5   Adj Close  1761 non-null   float64
 6   Volume     1761 non-null   int64
dtypes: float64(5), int64(1), object(1)
memory usage: 96.4+ KB
None
         Date       Open       High        Low      Close  Adj Close    Volume
0  2015-01-02  49.151428  50.331429  48.731430  49.848572  49.848572  13475000
1  2015-01-05  49.258572  49.258572  47.147144  47.311428  47.311428  18165000

ðŸ“„ File: Tesla.csv
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2767 entries, 0 to 2766
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       2767 non-null   object
 1   Open       2767 non-null   float64
 2   High       2767 non-null   float64
 3   Low        2767 non-null   float64
 4   Close      2767 non-null   float64
 5   Adj Close  2767 non-null   float64
 6   Volume     2767 non-null   int64
dtypes: float64(5), int64(1), object(1)
memory usage: 151.4+ KB
None
         Date   Open  High    Low  Close  Adj Close   Volume
0  2011-01-03  5.368  5.40  5.180  5.324      5.324  6415000
1  2011-01-04  5.332  5.39  5.204  5.334      5.334  5937000

ðŸ“„ File: Uber.csv
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 666 entries, 0 to 665
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       666 non-null    object
 1   Open       666 non-null    float64
 2   High       666 non-null    float64
 3   Low        666 non-null    float64
 4   Close      666 non-null    float64
 5   Adj Close  666 non-null    float64
 6   Volume     666 non-null    int64
dtypes: float64(5), int64(1), object(1)
memory usage: 36.6+ KB
None
         Date       Open       High        Low      Close  Adj Close  \
0  2019-05-10  42.000000  45.000000  41.060001  41.570000  41.570000
1  2019-05-13  38.790001  39.240002  36.080002  37.099998  37.099998

      Volume
0  186322500
1   79442400

ðŸ“„ File: Walmart.csv
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1761 entries, 0 to 1760
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       1761 non-null   object
 1   Open       1761 non-null   float64
 2   High       1761 non-null   float64
 3   Low        1761 non-null   float64
 4   Close      1761 non-null   float64
 5   Adj Close  1761 non-null   float64
 6   Volume     1761 non-null   int64
dtypes: float64(5), int64(1), object(1)
memory usage: 96.4+ KB
None
         Date       Open       High        Low      Close  Adj Close   Volume
0  2015-01-02  86.269997  86.720001  85.550003  85.900002  73.388664  4501800
1  2015-01-05  85.720001  86.320000  85.510002  85.650002  73.175095  6979000

ðŸ“„ File: Zoom.csv
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 681 entries, 0 to 680
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       681 non-null    object
 1   Open       681 non-null    float64
 2   High       681 non-null    float64
 3   Low        681 non-null    float64
 4   Close      681 non-null    float64
 5   Adj Close  681 non-null    float64
 6   Volume     681 non-null    int64
dtypes: float64(5), int64(1), object(1)
memory usage: 37.4+ KB
None
         Date  Open       High        Low      Close  Adj Close    Volume
0  2019-04-18  65.0  66.000000  60.320999  62.000000  62.000000  25764700
1  2019-04-22  61.0  68.900002  59.939999  65.699997  65.699997   9949700

#converting data to datetime format

In [21]:
datasets = [amazon, apple, facebook, google, microsoft, netflix, tesla, uber, walmart, zoom]
names = ["Amazon", "Apple", "Facebook", "Google", "Microsoft", "Netflix", "Tesla", "Uber", "Walmart", "Zoom"]
for i,df in enumerate(datasets):
    df["Date"] = pd.to_datetime(df["Date"], errors = "coerce")
    print(f"{names[i]}:Converted DATE to Datetime")

Amazon:Converted DATE to Datetime
Apple:Converted DATE to Datetime
Facebook:Converted DATE to Datetime
Google:Converted DATE to Datetime
Microsoft:Converted DATE to Datetime
Netflix:Converted DATE to Datetime
Tesla:Converted DATE to Datetime
Uber:Converted DATE to Datetime
Walmart:Converted DATE to Datetime
Zoom:Converted DATE to Datetime

CHECKING MISSING VALUES

In [24]:
for i ,df in enumerate(datasets):
    print(f"\n{names[i]}Missing Values:")
    print(df.isnull().sum())

AmazonMissing Values:
Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64

AppleMissing Values:
Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64

FacebookMissing Values:
Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64

GoogleMissing Values:
Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64

MicrosoftMissing Values:
Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64

NetflixMissing Values:
Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64

TeslaMissing Values:
Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64

UberMissing Values:
Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64

WalmartMissing Values:
Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64

ZoomMissing Values:
Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64

In [25]:
for i, df in enumerate(datasets):
    before = df.shape[0]
    df.drop_duplicates(inplace=True)
    after = df.shape[0]
    print(f"{names[i]}: Removed {before - after} duplicates")

Amazon: Removed 0 duplicates
Apple: Removed 0 duplicates
Facebook: Removed 0 duplicates
Google: Removed 0 duplicates
Microsoft: Removed 0 duplicates
Netflix: Removed 0 duplicates
Tesla: Removed 0 duplicates
Uber: Removed 0 duplicates
Walmart: Removed 0 duplicates
Zoom: Removed 0 duplicates

In [28]:
for df in datasets:
   sort_dates= df.sort_values(by="Date",inplace = True)

In [30]:
for df in datasets:
    df.reset_index(drop=True, inplace=True)
print(df)

          Date        Open        High         Low       Close   Adj Close  \
0   2019-04-18   65.000000   66.000000   60.320999   62.000000   62.000000
1   2019-04-22   61.000000   68.900002   59.939999   65.699997   65.699997
2   2019-04-23   66.870003   74.168999   65.550003   69.000000   69.000000
3   2019-04-24   71.400002   71.500000   63.160000   63.200001   63.200001
4   2019-04-25   64.739998   66.849998   62.599998   65.000000   65.000000
..         ...         ...         ...         ...         ...         ...
676 2021-12-22  197.050003  200.250000  190.419998  193.130005  193.130005
677 2021-12-23  191.000000  193.410004  186.649994  191.649994  191.649994
678 2021-12-27  189.539993  190.440002  185.660004  187.440002  187.440002
679 2021-12-28  186.600006  190.630005  183.089996  183.770004  183.770004
680 2021-12-29  184.000000  185.214005  179.785004  181.809998  181.809998

       Volume
0    25764700
1     9949700
2     6786500
3     4973500
4     3863300
..        ...
676   2865900
677   3102900
678   3068500
679   3129100
680   2562800

[681 rows x 7 columns]

In [31]:
for i, df in enumerate(datasets):
    print(f"\n {names[i]} â€” Rows: {len(df)}, Date range: {df['Date'].min().date()} to {df['Date'].max().date()}")

âœ… Amazon â€” Rows: 1761, Date range: 2015-01-02 to 2021-12-29

âœ… Apple â€” Rows: 1761, Date range: 2015-01-02 to 2021-12-29

âœ… Facebook â€” Rows: 1761, Date range: 2015-01-02 to 2021-12-29

âœ… Google â€” Rows: 1761, Date range: 2015-01-02 to 2021-12-29

âœ… Microsoft â€” Rows: 1761, Date range: 2015-01-02 to 2021-12-29

âœ… Netflix â€” Rows: 1761, Date range: 2015-01-02 to 2021-12-29

âœ… Tesla â€” Rows: 2767, Date range: 2011-01-03 to 2021-12-29

âœ… Uber â€” Rows: 666, Date range: 2019-05-10 to 2021-12-29

âœ… Walmart â€” Rows: 1761, Date range: 2015-01-02 to 2021-12-29

âœ… Zoom â€” Rows: 681, Date range: 2019-04-18 to 2021-12-29

combining all dataset

In [33]:
import pandas as pd

# Create a dictionary of your cleaned datasets
data_dict = {
    'Amazon': amazon,
    'Apple': apple,
    'Facebook': facebook,
    'Google': google,
    'Microsoft': microsoft,
    'Netflix': netflix,
    'Tesla': tesla,
    'Uber': uber,
    'Walmart': walmart,
    'Zoom': zoom
}

# Add a 'Company' column to each and combine
combined_df = pd.concat([df.assign(Company=name) for name, df in data_dict.items()], ignore_index=True)

# Sort by Date
combined_df.sort_values(by='Date', inplace=True)

# Check the result
print(combined_df)

            Date         Open         High          Low        Close  \
10566 2011-01-03     5.368000     5.400000     5.180000     5.324000
10567 2011-01-04     5.332000     5.390000     5.204000     5.334000
10568 2011-01-05     5.296000     5.380000     5.238000     5.366000
10569 2011-01-06     5.366000     5.600000     5.362000     5.576000
10570 2011-01-07     5.600000     5.716000     5.580000     5.648000
...          ...          ...          ...          ...          ...
7043  2021-12-29  2928.590088  2943.675049  2910.090088  2930.090088
1760  2021-12-29  3416.800049  3424.239990  3372.010010  3384.020020
8804  2021-12-29   341.299988   344.299988   339.679993   341.950012
13998 2021-12-29    42.720001    42.930000    41.814999    42.459999
16440 2021-12-29   184.000000   185.214005   179.785004   181.809998

         Adj Close    Volume    Company
10566     5.324000   6415000      Tesla
10567     5.334000   5937000      Tesla
10568     5.366000   7233500      Tesla
10569     5.576000  10306000      Tesla
10570     5.648000  11239500      Tesla
...            ...       ...        ...
7043   2930.090088    851100     Google
1760   3384.020020   1782700     Amazon
8804    341.950012  15027300  Microsoft
13998    42.459999  15901800       Uber
16440   181.809998   2562800       Zoom

[16441 rows x 8 columns]

In [34]:
combined_df['Company'].value_counts()

Company
Tesla        2767
Microsoft    1761
Facebook     1761
Google       1761
Walmart      1761
Netflix      1761
Apple        1761
Amazon       1761
Zoom          681
Uber          666
Name: count, dtype: int64

In [35]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 16441 entries, 10566 to 16440
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       16441 non-null  datetime64[ns]
 1   Open       16441 non-null  float64
 2   High       16441 non-null  float64
 3   Low        16441 non-null  float64
 4   Close      16441 non-null  float64
 5   Adj Close  16441 non-null  float64
 6   Volume     16441 non-null  int64
 7   Company    16441 non-null  object
dtypes: datetime64[ns](1), float64(5), int64(1), object(1)
memory usage: 1.1+ MB

In [45]:
combined_df.describe()

,Date,Open,High,Low,Close,Adj Close,Volume
count,16441,16441.000000,16441.000000,16441.000000,16441.000000,16441.000000,1.644100e+04
mean,2018-05-04 17:08:52.303387904,421.899081,426.649059,416.942834,421.964527,420.841444,2.964203e+07
min,2011-01-03 00:00:00,4.356000,4.454000,4.222000,4.366000,4.366000,3.468000e+05
25%,2016-07-19 00:00:00,58.237499,59.001999,57.599998,58.183998,55.723999,4.615000e+06
50%,2018-08-01 00:00:00,127.410004,128.850006,126.010002,127.529999,126.475647,1.320430e+07
75%,2020-05-13 00:00:00,444.899994,452.760010,436.600006,445.989990,445.989990,2.971960e+07
max,2021-12-29 00:00:00,3744.000000,3773.080078,3696.790039,3731.409912,3731.409912,6.488252e+08
std,NaN,677.541577,684.507034,670.143068,677.452315,678.015255,4.746818e+07

In [37]:
combined_df.dtypes

Date         datetime64[ns]
Open                float64
High                float64
Low                 float64
Close               float64
Adj Close           float64
Volume                int64
Company              object
dtype: object

In [38]:
combined_df.isnull().sum()

Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
Company      0
dtype: int64

STATISTICAL STEPS 
Step 1: Calculate each companyâ€™s overall growth

In [53]:
growth_df = (
    combined_df.groupby('Company')
    .agg(Start_Close=('Close', 'first'),
         End_Close=('Close', 'last'))
    .assign(Growth_percent=lambda x: (x['End_Close'] - x['Start_Close']) / x['Start_Close'] * 100)
    .sort_values(by='Growth_percent', ascending=False)
)
print(growth_df)

           Start_Close    End_Close  Growth_percent
Company
Tesla         5.324000  1086.189941    20301.764482
Netflix      49.848572   610.539978     1124.789304
Amazon      308.519989  3384.020020      996.856003
Microsoft    46.759998   341.950012      631.287482
Apple        27.332500   179.380005      556.288320
Google      523.373108  2930.090088      459.847276
Facebook     78.449997   342.940002      337.144697
Zoom         62.000000   181.809998      193.241932
Walmart      85.900002   142.710007       66.135045
Uber         41.570000    42.459999        2.140965