In [2]:
import pandas as pd
data = {
    "Nmae" :["aisha","romaisa","javeria"],
    "Age":[25,22,23] ,
    "city":["Lahore","gujranwala","Islamabad"]
}
df = pd.DataFrame(data)
print(df)

      Nmae  Age        city
0    aisha   25      Lahore
1  romaisa   22  gujranwala
2  javeria   23   Islamabad

In [ ]:
Viewing Data

df.head() → Shows first 5 rows.

df.tail() → Shows last 5 rows.

df.shape → Returns (rows, columns).

df.info() → Summary of dataset.

df.describe() → Summary statistics (mean, std, min, max, etc.).

df.columns → List of column names.

df.dtypes → Data types of columns

In [5]:
df = pd.read_csv(r"C:\Users\amnaj\Downloads\seattle-weather.csv")
df1 = pd.DataFrame(df)
print(df)
print(df1)

            date  precipitation  temp_max  temp_min  wind  weather
0     2012-01-01            0.0      12.8       5.0   4.7  drizzle
1     2012-01-02           10.9      10.6       2.8   4.5     rain
2     2012-01-03            0.8      11.7       7.2   2.3     rain
3     2012-01-04           20.3      12.2       5.6   4.7     rain
4     2012-01-05            1.3       8.9       2.8   6.1     rain
...          ...            ...       ...       ...   ...      ...
1456  2015-12-27            8.6       4.4       1.7   2.9     rain
1457  2015-12-28            1.5       5.0       1.7   1.3     rain
1458  2015-12-29            0.0       7.2       0.6   2.6      fog
1459  2015-12-30            0.0       5.6      -1.0   3.4      sun
1460  2015-12-31            0.0       5.6      -2.1   3.5      sun

[1461 rows x 6 columns]
            date  precipitation  temp_max  temp_min  wind  weather
0     2012-01-01            0.0      12.8       5.0   4.7  drizzle
1     2012-01-02           10.9      10.6       2.8   4.5     rain
2     2012-01-03            0.8      11.7       7.2   2.3     rain
3     2012-01-04           20.3      12.2       5.6   4.7     rain
4     2012-01-05            1.3       8.9       2.8   6.1     rain
...          ...            ...       ...       ...   ...      ...
1456  2015-12-27            8.6       4.4       1.7   2.9     rain
1457  2015-12-28            1.5       5.0       1.7   1.3     rain
1458  2015-12-29            0.0       7.2       0.6   2.6      fog
1459  2015-12-30            0.0       5.6      -1.0   3.4      sun
1460  2015-12-31            0.0       5.6      -2.1   3.5      sun

[1461 rows x 6 columns]

In [9]:
#viewing data
df = pd.read_csv(r"C:\Users\amnaj\Downloads\seattle-weather.csv")
df1= df.head() # df(variable ,file name).head() #first 5 rows
print(df1)

         date  precipitation  temp_max  temp_min  wind  weather
0  2012-01-01            0.0      12.8       5.0   4.7  drizzle
1  2012-01-02           10.9      10.6       2.8   4.5     rain
2  2012-01-03            0.8      11.7       7.2   2.3     rain
3  2012-01-04           20.3      12.2       5.6   4.7     rain
4  2012-01-05            1.3       8.9       2.8   6.1     rain

In [10]:
df = pd.read_csv(r"C:\Users\amnaj\Downloads\seattle-weather.csv")
df1= df.head(-6) #leaving frst 6 columns nd print next
print(df1)

            date  precipitation  temp_max  temp_min  wind  weather
0     2012-01-01            0.0      12.8       5.0   4.7  drizzle
1     2012-01-02           10.9      10.6       2.8   4.5     rain
2     2012-01-03            0.8      11.7       7.2   2.3     rain
3     2012-01-04           20.3      12.2       5.6   4.7     rain
4     2012-01-05            1.3       8.9       2.8   6.1     rain
...          ...            ...       ...       ...   ...      ...
1450  2015-12-21           27.4       5.6       2.8   4.3     rain
1451  2015-12-22            4.6       7.8       2.8   5.0     rain
1452  2015-12-23            6.1       5.0       2.8   7.6     rain
1453  2015-12-24            2.5       5.6       2.2   4.3     rain
1454  2015-12-25            5.8       5.0       2.2   1.5     rain

[1455 rows x 6 columns]

In [11]:
df = pd.read_csv(r"C:\Users\amnaj\Downloads\seattle-weather.csv")
df1= df.tail() #print last 5 rows
print(df1)

            date  precipitation  temp_max  temp_min  wind weather
1456  2015-12-27            8.6       4.4       1.7   2.9    rain
1457  2015-12-28            1.5       5.0       1.7   1.3    rain
1458  2015-12-29            0.0       7.2       0.6   2.6     fog
1459  2015-12-30            0.0       5.6      -1.0   3.4     sun
1460  2015-12-31            0.0       5.6      -2.1   3.5     sun

In [14]:
df = pd.read_csv(r"C:\Users\amnaj\Downloads\seattle-weather.csv")
df1= df.shape #it does not required () #.shape is a property (an attribute), not a function.
print(df1)                                   #That means you should not use () with it.

(1461, 6)

In [15]:
df = pd.read_csv(r"C:\Users\amnaj\Downloads\seattle-weather.csv")
df2 = df.info()
print(df2)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1461 entries, 0 to 1460
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           1461 non-null   object
 1   precipitation  1461 non-null   float64
 2   temp_max       1461 non-null   float64
 3   temp_min       1461 non-null   float64
 4   wind           1461 non-null   float64
 5   weather        1461 non-null   object
dtypes: float64(4), object(2)
memory usage: 68.6+ KB
None

In [17]:
df = pd.read_csv(r"C:\Users\amnaj\Downloads\seattle-weather.csv")
df2 = df.describe()
print(df2)

       precipitation     temp_max     temp_min         wind
count    1461.000000  1461.000000  1461.000000  1461.000000
mean        3.029432    16.439083     8.234771     3.241136
std         6.680194     7.349758     5.023004     1.437825
min         0.000000    -1.600000    -7.100000     0.400000
25%         0.000000    10.600000     4.400000     2.200000
50%         0.000000    15.600000     8.300000     3.000000
75%         2.800000    22.200000    12.200000     4.000000
max        55.900000    35.600000    18.300000     9.500000

In [18]:
file = pd.read_csv(r"C:\Users\amnaj\Downloads\seattle-weather.csv")
df1 = file.columns
print(df1)

Index(['date', 'precipitation', 'temp_max', 'temp_min', 'wind', 'weather'], dtype='object')

In [19]:
file = pd.read_csv(r"C:\Users\amnaj\Downloads\seattle-weather.csv")
df2 = file.dtypes #datatype of columns
print(df2)

date              object
precipitation    float64
temp_max         float64
temp_min         float64
wind             float64
weather           object
dtype: object

In [ ]:
🔹 Selecting & Indexing

df['col'] → Select column.

df[['col1','col2']] → Select multiple columns.

df.loc[row_label, col_label] → Select by labels.

df.iloc[row_index, col_index] → Select by position.

df.at[row, col] → Fast access by label.

df.iat[row, col] → Fast access by position.

In [21]:
file = pd.read_csv(r"C:\Users\amnaj\Downloads\seattle-weather.csv")
df1 = file['temp_min'] #file['exact name of column']
print(df1)

0       5.0
1       2.8
2       7.2
3       5.6
4       2.8
       ...
1456    1.7
1457    1.7
1458    0.6
1459   -1.0
1460   -2.1
Name: temp_min, Length: 1461, dtype: float64

In [23]:
file = pd.read_csv(r"C:\Users\amnaj\Downloads\seattle-weather.csv")
df2 = file[['precipitation','wind']]
print(df2)

      precipitation  wind
0               0.0   4.7
1              10.9   4.5
2               0.8   2.3
3              20.3   4.7
4               1.3   6.1
...             ...   ...
1456            8.6   2.9
1457            1.5   1.3
1458            0.0   2.6
1459            0.0   3.4
1460            0.0   3.5

[1461 rows x 2 columns]

In [27]:
file = pd.read_csv(r"C:\Users\amnaj\Downloads\seattle-weather.csv")
df2 = file[['date','precipitation','wind','temp_max']]
print(df2)

            date  precipitation  wind  temp_max
0     2012-01-01            0.0   4.7      12.8
1     2012-01-02           10.9   4.5      10.6
2     2012-01-03            0.8   2.3      11.7
3     2012-01-04           20.3   4.7      12.2
4     2012-01-05            1.3   6.1       8.9
...          ...            ...   ...       ...
1456  2015-12-27            8.6   2.9       4.4
1457  2015-12-28            1.5   1.3       5.0
1458  2015-12-29            0.0   2.6       7.2
1459  2015-12-30            0.0   3.4       5.6
1460  2015-12-31            0.0   3.5       5.6

[1461 rows x 4 columns]

In [30]:
file = pd.read_csv(r"C:\Users\amnaj\Downloads\seattle-weather.csv")
print(file.loc[0,'wind'])

4.7

In [31]:
file = pd.read_csv(r"C:\Users\amnaj\Downloads\seattle-weather.csv")
print(file.loc[1:19 , 'wind']) #for multiple rows of single column

1     4.5
2     2.3
3     4.7
4     6.1
5     2.2
6     2.3
7     2.0
8     3.4
9     3.4
10    5.1
11    1.9
12    1.3
13    5.3
14    3.2
15    5.0
16    5.6
17    5.0
18    1.6
19    2.3
Name: wind, dtype: float64

In [34]:
#for multiple rows nd multiple columns by label
file = pd.read_csv(r"C:\Users\amnaj\Downloads\seattle-weather.csv")
print(file.loc[1:19 , ['wind','temp_min']])

    wind  temp_min
1    4.5       2.8
2    2.3       7.2
3    4.7       5.6
4    6.1       2.8
5    2.2       2.2
6    2.3       2.8
7    2.0       2.8
8    3.4       5.0
9    3.4       0.6
10   5.1      -1.1
11   1.9      -1.7
12   1.3      -2.8
13   5.3       0.6
14   3.2      -3.3
15   5.0      -2.8
16   5.6       0.0
17   5.0      -2.8
18   1.6      -2.8
19   2.3      -1.1

In [37]:
file = pd.read_csv(r"C:\Users\amnaj\Downloads\seattle-weather.csv")
print(file.iloc[4,3])

2.8

In [38]:
file = pd.read_csv(r"C:\Users\amnaj\Downloads\seattle-weather.csv")
print(file.iloc[4,5]) #the value at 5th row nd 6th column according to index method

rain

In [4]:
import pandas as pd
file = pd.read_csv(r"C:\Users\amnaj\Downloads\seattle-weather.csv")
print(file.iloc[56])

date             2012-02-26
precipitation           1.3
temp_max                5.0
temp_min               -1.1
wind                    3.4
weather                snow
Name: 56, dtype: object

In [5]:
file = pd.read_csv(r"C:\Users\amnaj\Downloads\seattle-weather.csv")
print(file.iloc[:,5])

0       drizzle
1          rain
2          rain
3          rain
4          rain
         ...
1456       rain
1457       rain
1458        fog
1459        sun
1460        sun
Name: weather, Length: 1461, dtype: object

In [8]:
#1. .at[row, col] → Fast access by label
#Uses the row index label (like 0, 1, 2…) and the column name.
#Best for a single value (not slices).

file = pd.read_csv(r"C:\Users\amnaj\Downloads\seattle-weather.csv")
print(file.at[2,'temp_min'])

7.2

In [10]:
#2. .iat[row, col] → Fast access by position
#Uses the row number and column number (starting at 0).
#Also best for a single value.
file = pd.read_csv(r"C:\Users\amnaj\Downloads\seattle-weather.csv")
print(file.iat[2,4])

2.3

In [ ]:
🔹 Filtering

df[df['col'] > 10] → Filter rows by condition.

df[(df['col1'] > 10) & (df['col2'] < 50)] → Multiple conditions.

df.query("col > 10 and col2 < 50") → SQL-like filtering.

In [11]:
#all rows where wind >3 
file = pd.read_csv(r"C:\Users\amnaj\Downloads\seattle-weather.csv")
wind = file[file['wind'] > 3]
print(wind)

            date  precipitation  temp_max  temp_min  wind  weather
0     2012-01-01            0.0      12.8       5.0   4.7  drizzle
1     2012-01-02           10.9      10.6       2.8   4.5     rain
3     2012-01-04           20.3      12.2       5.6   4.7     rain
4     2012-01-05            1.3       8.9       2.8   6.1     rain
8     2012-01-09            4.3       9.4       5.0   3.4     rain
...          ...            ...       ...       ...   ...      ...
1451  2015-12-22            4.6       7.8       2.8   5.0     rain
1452  2015-12-23            6.1       5.0       2.8   7.6     rain
1453  2015-12-24            2.5       5.6       2.2   4.3     rain
1459  2015-12-30            0.0       5.6      -1.0   3.4      sun
1460  2015-12-31            0.0       5.6      -2.1   3.5      sun

[673 rows x 6 columns]

In [13]:
file = pd.read_csv(r"C:\Users\amnaj\Downloads\seattle-weather.csv")
hot_days = file[(file['temp_max'] > 30) & (file['weather'] == 'sun')]
print(hot_days)

            date  precipitation  temp_max  temp_min  wind weather
216   2012-08-04            0.0      33.9      16.7   3.7     sun
217   2012-08-05            0.0      33.9      17.8   1.9     sun
224   2012-08-12            0.0      30.6      15.0   3.0     sun
225   2012-08-13            0.0      30.6      15.0   2.8     sun
227   2012-08-15            0.0      31.1      16.7   4.7     sun
228   2012-08-16            0.0      34.4      18.3   2.8     sun
229   2012-08-17            0.0      32.8      16.1   1.8     sun
250   2012-09-07            0.0      32.2      13.3   3.1     sun
491   2013-05-06            0.0      30.6      12.2   2.0     sun
544   2013-06-28            0.0      30.6      16.1   2.2     sun
546   2013-06-30            0.0      33.9      17.2   2.5     sun
547   2013-07-01            0.0      31.7      18.3   2.3     sun
562   2013-07-16            0.0      31.1      18.3   4.1     sun
569   2013-07-23            0.0      31.1      13.9   3.0     sun
570   2013-07-24            0.0      31.1      14.4   2.5     sun
571   2013-07-25            0.0      31.1      12.8   2.3     sun
572   2013-07-26            0.0      31.1      14.4   2.9     sun
583   2013-08-06            0.0      30.6      13.9   1.4     sun
584   2013-08-07            0.0      31.1      13.9   1.9     sun
619   2013-09-11            0.0      33.9      16.1   2.4     sun
912   2014-07-01            0.0      34.4      15.6   3.5     sun
922   2014-07-11            0.0      31.1      15.0   2.2     sun
923   2014-07-12            0.0      32.2      16.7   2.2     sun
926   2014-07-15            0.0      31.1      13.9   2.3     sun
927   2014-07-16            0.0      31.1      14.4   2.4     sun
939   2014-07-28            0.0      30.6      15.0   3.7     sun
942   2014-07-31            0.0      30.6      17.8   4.1     sun
945   2014-08-03            0.0      31.7      14.4   2.6     sun
946   2014-08-04            0.0      32.8      16.1   2.6     sun
952   2014-08-10            0.0      30.6      13.9   3.4     sun
968   2014-08-26            0.0      31.1      15.6   1.8     sun
979   2014-09-06            0.0      32.2      15.0   2.9     sun
988   2014-09-15            0.0      30.6      12.2   1.2     sun
1253  2015-06-07            0.0      31.1      15.6   3.2     sun
1254  2015-06-08            0.0      30.6      14.4   3.5     sun
1271  2015-06-25            0.0      30.6      15.6   3.0     sun
1272  2015-06-26            0.0      31.7      17.8   4.7     sun
1273  2015-06-27            0.0      33.3      17.2   3.9     sun
1277  2015-07-01            0.0      32.2      17.2   4.3     sun
1278  2015-07-02            0.0      33.9      17.8   3.4     sun
1279  2015-07-03            0.0      33.3      17.8   2.6     sun
1280  2015-07-04            0.0      33.3      15.0   2.9     sun
1281  2015-07-05            0.0      32.8      16.7   2.1     sun
1294  2015-07-18            0.0      33.3      17.8   3.4     sun
1295  2015-07-19            0.0      35.0      17.2   3.3     sun
1305  2015-07-29            0.0      32.2      14.4   3.8     sun
1306  2015-07-30            0.0      34.4      17.2   3.5     sun
1307  2015-07-31            0.0      34.4      17.8   2.6     sun
1308  2015-08-01            0.0      33.3      15.6   3.1     sun
1309  2015-08-02            0.0      30.6      16.1   2.0     sun

In [17]:
#AND OPERATION USE & .(put condition inside parentheses())
file = pd.read_csv(r"C:\Users\amnaj\Downloads\seattle-weather.csv")
rainy_days = file[(file['temp_min'] <30) & (file['weather']== 'rain')]
print(rainy_days)

            date  precipitation  temp_max  temp_min  wind weather
1     2012-01-02           10.9      10.6       2.8   4.5    rain
2     2012-01-03            0.8      11.7       7.2   2.3    rain
3     2012-01-04           20.3      12.2       5.6   4.7    rain
4     2012-01-05            1.3       8.9       2.8   6.1    rain
5     2012-01-06            2.5       4.4       2.2   2.2    rain
...          ...            ...       ...       ...   ...     ...
1452  2015-12-23            6.1       5.0       2.8   7.6    rain
1453  2015-12-24            2.5       5.6       2.2   4.3    rain
1454  2015-12-25            5.8       5.0       2.2   1.5    rain
1456  2015-12-27            8.6       4.4       1.7   2.9    rain
1457  2015-12-28            1.5       5.0       1.7   1.3    rain

[641 rows x 6 columns]

In [22]:
file = pd.read_csv(r"C:\Users\amnaj\Downloads\seattle-weather.csv")
wind = file[(file['wind'] < 3 ) | (file['temp_max'] < 30 )]
print(wind)

            date  precipitation  temp_max  temp_min  wind  weather
0     2012-01-01            0.0      12.8       5.0   4.7  drizzle
1     2012-01-02           10.9      10.6       2.8   4.5     rain
2     2012-01-03            0.8      11.7       7.2   2.3     rain
3     2012-01-04           20.3      12.2       5.6   4.7     rain
4     2012-01-05            1.3       8.9       2.8   6.1     rain
...          ...            ...       ...       ...   ...      ...
1456  2015-12-27            8.6       4.4       1.7   2.9     rain
1457  2015-12-28            1.5       5.0       1.7   1.3     rain
1458  2015-12-29            0.0       7.2       0.6   2.6      fog
1459  2015-12-30            0.0       5.6      -1.0   3.4      sun
1460  2015-12-31            0.0       5.6      -2.1   3.5      sun

[1434 rows x 6 columns]

In [24]:
file = pd.read_csv(r"C:\Users\amnaj\Downloads\seattle-weather.csv")
weather = file[(file['temp_max'] <30) | (file['temp_min'] > 5)]
print (weather)

            date  precipitation  temp_max  temp_min  wind  weather
0     2012-01-01            0.0      12.8       5.0   4.7  drizzle
1     2012-01-02           10.9      10.6       2.8   4.5     rain
2     2012-01-03            0.8      11.7       7.2   2.3     rain
3     2012-01-04           20.3      12.2       5.6   4.7     rain
4     2012-01-05            1.3       8.9       2.8   6.1     rain
...          ...            ...       ...       ...   ...      ...
1456  2015-12-27            8.6       4.4       1.7   2.9     rain
1457  2015-12-28            1.5       5.0       1.7   1.3     rain
1458  2015-12-29            0.0       7.2       0.6   2.6      fog
1459  2015-12-30            0.0       5.6      -1.0   3.4      sun
1460  2015-12-31            0.0       5.6      -2.1   3.5      sun

[1461 rows x 6 columns]

In [2]:
#🔹 3. SQL-like filtering with query()
#This is shorter and cleaner for complex conditions:
import pandas as pd
file = pd.read_csv(r"C:\Users\amnaj\Downloads\seattle-weather.csv")
# Same as first example but with query
hot_days = file.query("temp_max > 25")

# Multiple conditions
hot_sunny = file.query("temp_max > 25 and weather == 'sun'")
rainy_or_windy = file.query("weather == 'rain' or wind > 5")
print(rainy_or_windy )

            date  precipitation  temp_max  temp_min  wind weather
1     2012-01-02           10.9      10.6       2.8   4.5    rain
2     2012-01-03            0.8      11.7       7.2   2.3    rain
3     2012-01-04           20.3      12.2       5.6   4.7    rain
4     2012-01-05            1.3       8.9       2.8   6.1    rain
5     2012-01-06            2.5       4.4       2.2   2.2    rain
...          ...            ...       ...       ...   ...     ...
1452  2015-12-23            6.1       5.0       2.8   7.6    rain
1453  2015-12-24            2.5       5.6       2.2   4.3    rain
1454  2015-12-25            5.8       5.0       2.2   1.5    rain
1456  2015-12-27            8.6       4.4       1.7   2.9    rain
1457  2015-12-28            1.5       5.0       1.7   1.3    rain

[695 rows x 6 columns]

In [ ]:
✅ Quick Comparison
Method	Example	Notes
Bracket    filtering	 df[df['temp_max'] > 25]	 Most common
Multiple    cond.	       df[(df['temp_max'] > 25) & (df['weather'] == 'sun')]	 Must use & / `
query()  	df.query("temp_max > 25 and weather == 'sun'")  	Cleaner, SQL-style

In [5]:
file = pd.read_csv(r"C:\Users\amnaj\Downloads\seattle-weather.csv")
rainy_or_windly = file.query("weather=='rain' | wind >4")
print(rainy_or_windly)

            date  precipitation  temp_max  temp_min  wind  weather
0     2012-01-01            0.0      12.8       5.0   4.7  drizzle
1     2012-01-02           10.9      10.6       2.8   4.5     rain
2     2012-01-03            0.8      11.7       7.2   2.3     rain
3     2012-01-04           20.3      12.2       5.6   4.7     rain
4     2012-01-05            1.3       8.9       2.8   6.1     rain
...          ...            ...       ...       ...   ...      ...
1452  2015-12-23            6.1       5.0       2.8   7.6     rain
1453  2015-12-24            2.5       5.6       2.2   4.3     rain
1454  2015-12-25            5.8       5.0       2.2   1.5     rain
1456  2015-12-27            8.6       4.4       1.7   2.9     rain
1457  2015-12-28            1.5       5.0       1.7   1.3     rain

[777 rows x 6 columns]

In [ ]:
🔹 Modifying Data

df['new_col'] = df['col1'] + df['col2'] → Add new column.

df.drop('col', axis=1) → Drop a column.

df.drop(0, axis=0) → Drop a row.

df.rename(columns={'old':'new'}) → Rename columns.

df.replace({'old_val': 'new_val'}) → Replace values.

In [3]:
#ADDING A NEW COLUMN
import pandas as pd
file = pd.read_csv(r"C:\Users\amnaj\Downloads\seattle-weather.csv")
file['new_col'] = file ['temp_max']+file['temp_min']
print(file['new_col'])

0       17.8
1       13.4
2       18.9
3       17.8
4       11.7
        ...
1456     6.1
1457     6.7
1458     7.8
1459     4.6
1460     3.5
Name: new_col, Length: 1461, dtype: float64

In [8]:

#df.drop('col', axis=1, inplace=True)
file = pd.read_csv(r"C:\Users\amnaj\Downloads\seattle-weather.csv")
#👉 Removes the column named col.
#axis=1 → column, axis=0 → row.
#Use inplace=True to update directly.
file1 = file.drop('wind' , axis = 1,inplace = True)
print(file1)

None

In [10]:
file = pd.read_csv(r"C:\Users\amnaj\Downloads\seattle-weather.csv")
file1 = file['temp_max']
print(file1)

0       12.8
1       10.6
2       11.7
3       12.2
4        8.9
        ...
1456     4.4
1457     5.0
1458     7.2
1459     5.6
1460     5.6
Name: temp_max, Length: 1461, dtype: float64

In [14]:
file = pd.read_csv(r"C:\Users\amnaj\Downloads\seattle-weather.csv")
file1 = file[['temp_max', 'weather']]
print(file1)

      temp_max  weather
0         12.8  drizzle
1         10.6     rain
2         11.7     rain
3         12.2     rain
4          8.9     rain
...        ...      ...
1456       4.4     rain
1457       5.0     rain
1458       7.2      fog
1459       5.6      sun
1460       5.6      sun

[1461 rows x 2 columns]

In [20]:
#drop  a column

file1 = file.drop(['date' ,'precipitation','wind'] , axis =1)
print(file1)

      temp_max  temp_min  weather
0         12.8       5.0  drizzle
1         10.6       2.8     rain
2         11.7       7.2     rain
3         12.2       5.6     rain
4          8.9       2.8     rain
...        ...       ...      ...
1456       4.4       1.7     rain
1457       5.0       1.7     rain
1458       7.2       0.6      fog
1459       5.6      -1.0      sun
1460       5.6      -2.1      sun

[1461 rows x 3 columns]

In [26]:
#drop a row
#df.drop(2, axis=0) → Drop a row.
file1 = file.drop(3,axis = 0) #it drops 3rd row
print(file1)

            date  precipitation  temp_max  temp_min  wind  weather
0     2012-01-01            0.0      12.8       5.0   4.7  drizzle
1     2012-01-02           10.9      10.6       2.8   4.5     rain
2     2012-01-03            0.8      11.7       7.2   2.3     rain
4     2012-01-05            1.3       8.9       2.8   6.1     rain
5     2012-01-06            2.5       4.4       2.2   2.2     rain
...          ...            ...       ...       ...   ...      ...
1456  2015-12-27            8.6       4.4       1.7   2.9     rain
1457  2015-12-28            1.5       5.0       1.7   1.3     rain
1458  2015-12-29            0.0       7.2       0.6   2.6      fog
1459  2015-12-30            0.0       5.6      -1.0   3.4      sun
1460  2015-12-31            0.0       5.6      -2.1   3.5      sun

[1460 rows x 6 columns]

In [29]:
#df.rename(columns={'old':'new'}) → Rename columns.
file1 = file.rename(columns={'wind': 'air'})
print(file1)

            date  precipitation  temp_max  temp_min  air  weather
0     2012-01-01            0.0      12.8       5.0  4.7  drizzle
1     2012-01-02           10.9      10.6       2.8  4.5     rain
2     2012-01-03            0.8      11.7       7.2  2.3     rain
3     2012-01-04           20.3      12.2       5.6  4.7     rain
4     2012-01-05            1.3       8.9       2.8  6.1     rain
...          ...            ...       ...       ...  ...      ...
1456  2015-12-27            8.6       4.4       1.7  2.9     rain
1457  2015-12-28            1.5       5.0       1.7  1.3     rain
1458  2015-12-29            0.0       7.2       0.6  2.6      fog
1459  2015-12-30            0.0       5.6      -1.0  3.4      sun
1460  2015-12-31            0.0       5.6      -2.1  3.5      sun

[1461 rows x 6 columns]

In [31]:
file1 = file.rename(columns = {'precipitation':'humidity' , 'wind':'air'}) #renaming 2  or more columns at a time
print(file1)

            date  humidity  temp_max  temp_min  air  weather
0     2012-01-01       0.0      12.8       5.0  4.7  drizzle
1     2012-01-02      10.9      10.6       2.8  4.5     rain
2     2012-01-03       0.8      11.7       7.2  2.3     rain
3     2012-01-04      20.3      12.2       5.6  4.7     rain
4     2012-01-05       1.3       8.9       2.8  6.1     rain
...          ...       ...       ...       ...  ...      ...
1456  2015-12-27       8.6       4.4       1.7  2.9     rain
1457  2015-12-28       1.5       5.0       1.7  1.3     rain
1458  2015-12-29       0.0       7.2       0.6  2.6      fog
1459  2015-12-30       0.0       5.6      -1.0  3.4      sun
1460  2015-12-31       0.0       5.6      -2.1  3.5      sun

[1461 rows x 6 columns]

In [33]:
#df.replace({'old_val': 'new_val'}) → Replace values.
data = {'weather': ['rain','sun','cloudy','storm'],'temp_max':[12,39,19,15]}
df = pd.DataFrame(data)
print("original")
print(df)
df1 = df.replace({'sun': 'sunny'})
print("replaced")
print(df1)

original
  weather  temp_max
0    rain        12
1     sun        39
2  cloudy        19
3   storm        15
replaced
  weather  temp_max
0    rain        12
1   sunny        39
2  cloudy        19
3   storm        15

In [ ]:

🔹 Sorting

df.sort_values('col') → Sort by column.

df.sort_values(['col1','col2'], ascending=[True,False]) → Sort by multiple columns.

df.sort_index() → Sort by index.

In [35]:
#df.sort_values('col') → Sort by column.
df = file.sort_values('temp_max')
print(df)

            date  precipitation  temp_max  temp_min  wind weather
767   2014-02-06            0.0      -1.6      -6.0   4.5     sun
18    2012-01-19           15.2      -1.1      -2.8   1.6    snow
766   2014-02-05            0.0      -0.5      -5.5   6.6     sun
17    2012-01-18           19.8       0.0      -2.8   5.0    snow
706   2013-12-07            0.0       0.0      -7.1   3.1     sun
...          ...            ...       ...       ...   ...     ...
912   2014-07-01            0.0      34.4      15.6   3.5     sun
1306  2015-07-30            0.0      34.4      17.2   3.5     sun
1307  2015-07-31            0.0      34.4      17.8   2.6     sun
1295  2015-07-19            0.0      35.0      17.2   3.3     sun
953   2014-08-11            0.5      35.6      17.8   2.6    rain

[1461 rows x 6 columns]

In [36]:
df1= file.sort_values(['temp_max','temp_min'],ascending=[True,False])
print(df1)

            date  precipitation  temp_max  temp_min  wind weather
767   2014-02-06            0.0      -1.6      -6.0   4.5     sun
18    2012-01-19           15.2      -1.1      -2.8   1.6    snow
766   2014-02-05            0.0      -0.5      -5.5   6.6     sun
17    2012-01-18           19.8       0.0      -2.8   5.0    snow
706   2013-12-07            0.0       0.0      -7.1   3.1     sun
...          ...            ...       ...       ...   ...     ...
1307  2015-07-31            0.0      34.4      17.8   2.6     sun
1306  2015-07-30            0.0      34.4      17.2   3.5     sun
912   2014-07-01            0.0      34.4      15.6   3.5     sun
1295  2015-07-19            0.0      35.0      17.2   3.3     sun
953   2014-08-11            0.5      35.6      17.8   2.6    rain

[1461 rows x 6 columns]

In [39]:
data = {'name' : ['Ali' , 'Aehan', 'Ashar','Shayan'],'age' : [25,15,9,12]}
00df = pd.DataFrame(data)
print("original")
print(df)
df1=df.sort_values('age')
print("\nSorted by age")
print(df1)

original
     name  age
0     Ali   25
1   Aehan   15
2   Ashar    9
3  Shayan   12

Sorted by age
     name  age
2   Ashar    9
3  Shayan   12
1   Aehan   15
0     Ali   25

In [5]:
#df.sort_index() → Sort by index.
import pandas as pd
file = pd.read_csv(r"C:\Users\amnaj\Downloads\seattle-weather.csv")
print(file.sort_index()) #  # sort rows by index (ascending)

            date  precipitation  temp_max  temp_min  wind  weather
0     2012-01-01            0.0      12.8       5.0   4.7  drizzle
1     2012-01-02           10.9      10.6       2.8   4.5     rain
2     2012-01-03            0.8      11.7       7.2   2.3     rain
3     2012-01-04           20.3      12.2       5.6   4.7     rain
4     2012-01-05            1.3       8.9       2.8   6.1     rain
...          ...            ...       ...       ...   ...      ...
1456  2015-12-27            8.6       4.4       1.7   2.9     rain
1457  2015-12-28            1.5       5.0       1.7   1.3     rain
1458  2015-12-29            0.0       7.2       0.6   2.6      fog
1459  2015-12-30            0.0       5.6      -1.0   3.4      sun
1460  2015-12-31            0.0       5.6      -2.1   3.5      sun

[1461 rows x 6 columns]

In [6]:
print(file.sort_index(ascending=False))  #sort rows by index (descending)

            date  precipitation  temp_max  temp_min  wind  weather
1460  2015-12-31            0.0       5.6      -2.1   3.5      sun
1459  2015-12-30            0.0       5.6      -1.0   3.4      sun
1458  2015-12-29            0.0       7.2       0.6   2.6      fog
1457  2015-12-28            1.5       5.0       1.7   1.3     rain
1456  2015-12-27            8.6       4.4       1.7   2.9     rain
...          ...            ...       ...       ...   ...      ...
4     2012-01-05            1.3       8.9       2.8   6.1     rain
3     2012-01-04           20.3      12.2       5.6   4.7     rain
2     2012-01-03            0.8      11.7       7.2   2.3     rain
1     2012-01-02           10.9      10.6       2.8   4.5     rain
0     2012-01-01            0.0      12.8       5.0   4.7  drizzle

[1461 rows x 6 columns]

In [ ]:
🔹 Aggregations & Statistics

df.mean(), df.median(), df.std(), df.var() → Basic stats.

df['col'].value_counts() → Frequency count.

df['col'].unique() → Unique values.

df['col'].nunique() → Number of unique values.

df.groupby('col').mean() → Grouping & aggregation.

df.pivot_table(values='col', index='col1', columns='col2') → Pivot table.

In [12]:
file = pd.read_csv(r"C:\Users\amnaj\Downloads\seattle-weather.csv")
print(file.describe())

       precipitation     temp_max     temp_min         wind
count    1461.000000  1461.000000  1461.000000  1461.000000
mean        3.029432    16.439083     8.234771     3.241136
std         6.680194     7.349758     5.023004     1.437825
min         0.000000    -1.600000    -7.100000     0.400000
25%         0.000000    10.600000     4.400000     2.200000
50%         0.000000    15.600000     8.300000     3.000000
75%         2.800000    22.200000    12.200000     4.000000
max        55.900000    35.600000    18.300000     9.500000

In [14]:
#df['col'].value_counts() → Frequency count.
df1= file['temp_max'].value_counts()
print(df1)

temp_max
 11.1    58
 14.4    49
 10.0    47
 12.8    46
 12.2    44
         ..
-1.1      1
-1.6      1
-0.5      1
 35.6     1
 35.0     1
Name: count, Length: 67, dtype: int64

In [15]:
#df['col'].unique() → Unique values.
df1= file['temp_min'].unique()
print(df1)

[ 5.   2.8  7.2  5.6  2.2  0.6 -1.1 -1.7 -2.8 -3.3  0.   3.3  1.1  4.4
 -2.2  3.9  6.1  1.7  7.8  6.7 -0.6  8.9  8.3 10.   9.4 12.8 11.7 11.1
 12.2 10.6 15.  13.3 14.4 13.9 16.7 17.8 15.6 18.3 16.1 -3.9 -4.4 17.2
 -0.5 -2.1 -4.9 -4.3 -7.1 -6.6 -1.6 -5.5 -6.  -3.2 -2.7 -1.  -3.8]

In [16]:
#df['col'].nunique() → Number of unique values.
df1= file['temp_min'].nunique()
print(df1)

55

In [3]:
#df.groupby('col').mean() → Grouping & aggregation.
import pandas as pd
file = pd.read_csv(r"C:\Users\amnaj\Downloads\seattle-weather.csv") #file.groupby('col')[colto merge].mean()
df1 = file.groupby('temp_min')['wind'].mean()
print(df1)

temp_min
-7.1     3.100000
-6.6     2.200000
-6.0     4.500000
-5.5     6.600000
-4.9     3.125000
-4.4     1.500000
-4.3     5.000000
-3.9     1.900000
-3.8     1.700000
-3.3     3.200000
-3.2     3.033333
-2.8     2.642857
-2.7     2.000000
-2.2     1.900000
-2.1     3.112500
-1.7     1.833333
-1.6     2.666667
-1.1     2.900000
-1.0     3.850000
-0.6     2.500000
-0.5     2.933333
 0.0     3.412500
 0.6     3.178571
 1.1     3.100000
 1.7     3.060000
 2.2     3.262500
 2.8     3.260000
 3.3     3.245455
 3.9     3.793182
 4.4     3.478182
 5.0     3.217073
 5.6     3.552000
 6.1     3.489394
 6.7     3.614894
 7.2     3.786667
 7.8     3.445652
 8.3     3.676923
 8.9     3.339216
 9.4     3.473585
 10.0    3.443750
 10.6    3.081081
 11.1    3.200000
 11.7    3.188333
 12.2    2.935556
 12.8    3.317778
 13.3    2.770690
 13.9    2.940741
 14.4    2.915217
 15.0    2.862745
 15.6    2.725926
 16.1    2.756522
 16.7    2.866667
 17.2    2.550000
 17.8    3.266667
 18.3    2.666667
Name: wind, dtype: float64

In [22]:
#df.pivot_table(values='col', index='col1', columns='col2') → Pivot table.
df1 = file.pivot_table(values='temp_min', index='weather', columns='date')
print(df1)

date     2012-01-01  2012-01-02  2012-01-03  2012-01-04  2012-01-05  \
weather
drizzle         5.0         NaN         NaN         NaN         NaN
fog             NaN         NaN         NaN         NaN         NaN
rain            NaN         2.8         7.2         5.6         2.8
snow            NaN         NaN         NaN         NaN         NaN
sun             NaN         NaN         NaN         NaN         NaN

date     2012-01-06  2012-01-07  2012-01-08  2012-01-09  2012-01-10  ...  \
weather                                                              ...
drizzle         NaN         NaN         NaN         NaN         NaN  ...
fog             NaN         NaN         NaN         NaN         NaN  ...
rain            2.2         2.8         NaN         5.0         0.6  ...
snow            NaN         NaN         NaN         NaN         NaN  ...
sun             NaN         NaN         2.8         NaN         NaN  ...

date     2015-12-22  2015-12-23  2015-12-24  2015-12-25  2015-12-26  \
weather
drizzle         NaN         NaN         NaN         NaN         NaN
fog             NaN         NaN         NaN         NaN         NaN
rain            2.8         2.8         2.2         2.2         NaN
snow            NaN         NaN         NaN         NaN         NaN
sun             NaN         NaN         NaN         NaN         0.0

date     2015-12-27  2015-12-28  2015-12-29  2015-12-30  2015-12-31
weather
drizzle         NaN         NaN         NaN         NaN         NaN
fog             NaN         NaN         0.6         NaN         NaN
rain            1.7         1.7         NaN         NaN         NaN
snow            NaN         NaN         NaN         NaN         NaN
sun             NaN         NaN         NaN        -1.0        -2.1

[5 rows x 1461 columns]

In [ ]:
🔹 Handling Missing Data

df.isnull() → Check missing values.

df.notnull() → Check non-missing values.

df.dropna() → Drop missing rows.

df.fillna(value) → Fill missing values.

df.interpolate() → Fill values by interpolation.

In [23]:
#df.isnull() → Check missing values.
print(file.isnull())

       date  precipitation  temp_max  temp_min   wind  weather
0     False          False     False     False  False    False
1     False          False     False     False  False    False
2     False          False     False     False  False    False
3     False          False     False     False  False    False
4     False          False     False     False  False    False
...     ...            ...       ...       ...    ...      ...
1456  False          False     False     False  False    False
1457  False          False     False     False  False    False
1458  False          False     False     False  False    False
1459  False          False     False     False  False    False
1460  False          False     False     False  False    False

[1461 rows x 6 columns]

In [24]:
#df.notnull() → Check non-missing values.
print(file.notnull())

      date  precipitation  temp_max  temp_min  wind  weather
0     True           True      True      True  True     True
1     True           True      True      True  True     True
2     True           True      True      True  True     True
3     True           True      True      True  True     True
4     True           True      True      True  True     True
...    ...            ...       ...       ...   ...      ...
1456  True           True      True      True  True     True
1457  True           True      True      True  True     True
1458  True           True      True      True  True     True
1459  True           True      True      True  True     True
1460  True           True      True      True  True     True

[1461 rows x 6 columns]

In [25]:
#df.dropna() → Drop missing rows.
print(file.dropna())

            date  precipitation  temp_max  temp_min  wind  weather
0     2012-01-01            0.0      12.8       5.0   4.7  drizzle
1     2012-01-02           10.9      10.6       2.8   4.5     rain
2     2012-01-03            0.8      11.7       7.2   2.3     rain
3     2012-01-04           20.3      12.2       5.6   4.7     rain
4     2012-01-05            1.3       8.9       2.8   6.1     rain
...          ...            ...       ...       ...   ...      ...
1456  2015-12-27            8.6       4.4       1.7   2.9     rain
1457  2015-12-28            1.5       5.0       1.7   1.3     rain
1458  2015-12-29            0.0       7.2       0.6   2.6      fog
1459  2015-12-30            0.0       5.6      -1.0   3.4      sun
1460  2015-12-31            0.0       5.6      -2.1   3.5      sun

[1461 rows x 6 columns]

In [28]:
#df.fillna(value) → Fill missing values.
import numpy as np
df = pd.DataFrame({'A':[1,2,np.nan,4],'B':[5,7,np.nan,np.nan]})
print("original")
print(df)
print("\nFill with 98:")
print(df.fillna(98))

original
     A    B
0  1.0  5.0
1  2.0  7.0
2  NaN  NaN
3  4.0  NaN

Fill with 98:
      A     B
0   1.0   5.0
1   2.0   7.0
2  98.0  98.0
3   4.0  98.0

In [ ]:
#df.interpolate() → Fill values by interpolation.

In [ ]:

🔹 Merging & Joining

pd.concat([df1, df2]) → Concatenate.

pd.merge(df1, df2, on='key') → SQL-like join.

df.join(df2) → Join by index.