In [4]:
print(df[2:4])

  Department Employee  Salary  Bonus
2         IT  Charlie   60000   7000
3         IT    David   62000   6500

In [5]:
print(df.sample(5))

  Department Employee  Salary  Bonus
6         IT   George   64000   7200
5    Finance    Frank   60000   6000
0         HR    Alice   50000   5000
3         IT    David   62000   6500
2         IT  Charlie   60000   7000

In [8]:
data = ({"id":[2,3,4,5,6] })
data1 = ({"id":[5,6,7,8,9]})
d1 = pd.DataFrame(data)
d2 = pd.DataFrame(data1)
print(pd.concat([d1,d2]))

   id
0   2
1   3
2   4
3   5
4   6
0   5
1   6
2   7
3   8
4   9

In [11]:
data = ({"id":[2,3,4,5,6] })
data1 = ({"id":[5,6,7,8,9]})
d1 = pd.DataFrame(data)  #cancatenate nd removed index

d2 = pd.DataFrame(data1)
print(pd.concat([d1,d2],ignore_index=True))

   id
0   2
1   3
2   4
3   5
4   6
5   5
6   6
7   7
8   8
9   9

In [2]:
import pandas as pd

# Example dataset
data = {
    "Department": ["HR", "HR", "IT", "IT", "Finance", "Finance", "IT"],
    "Employee": ["Alice", "Bob", "Charlie", "David", "Eva", "Frank", "George"],
    "Salary": [50000, 52000, 60000, 62000, 58000, 60000, 64000],
    "Bonus": [5000, 6000, 7000, 6500, 5500, 6000, 7200]
}

df = pd.DataFrame(data)
print(df)

  Department Employee  Salary  Bonus
0         HR    Alice   50000   5000
1         HR      Bob   52000   6000
2         IT  Charlie   60000   7000
3         IT    David   62000   6500
4    Finance      Eva   58000   5500
5    Finance    Frank   60000   6000
6         IT   George   64000   7200

In [3]:
print(df.shape)

(7, 4)

In [4]:
column = df[["Department","Salary"]] #columns more then 1 then[[]] used
print(column)

  Department  Salary
0         HR   50000
1         HR   52000
2         IT   60000
3         IT   62000
4    Finance   58000
5    Finance   60000
6         IT   64000

In [5]:
filter = df[(df["Department"] =="IT") & (df["Salary"] > 55000)]
print(filter)

  Department Employee  Salary  Bonus
2         IT  Charlie   60000   7000
3         IT    David   62000   6500
6         IT   George   64000   7200

In [6]:
#adding a new column
df["Name"] = [ "aisha","humaira", "javeria","khansa","romaisa","aneela","rahma"] 
print(df)

  Department Employee  Salary  Bonus     Name
0         HR    Alice   50000   5000    aisha
1         HR      Bob   52000   6000  humaira
2         IT  Charlie   60000   7000  javeria
3         IT    David   62000   6500   khansa
4    Finance      Eva   58000   5500  romaisa
5    Finance    Frank   60000   6000   aneela
6         IT   George   64000   7200    rahma

In [7]:
df.insert(1,"a",[35,30,45,40,23,35,43]) #defining position to insert
print(df)

  Department   a Employee  Salary  Bonus     Name
0         HR  35    Alice   50000   5000    aisha
1         HR  30      Bob   52000   6000  humaira
2         IT  45  Charlie   60000   7000  javeria
3         IT  40    David   62000   6500   khansa
4    Finance  23      Eva   58000   5500  romaisa
5    Finance  35    Frank   60000   6000   aneela
6         IT  43   George   64000   7200    rahma

In [8]:
print(df.to_string(index=False)) #remove index

Department  a Employee  Salary  Bonus    Name
        HR 35    Alice   50000   5000   aisha
        HR 30      Bob   52000   6000 humaira
        IT 45  Charlie   60000   7000 javeria
        IT 40    David   62000   6500  khansa
   Finance 23      Eva   58000   5500 romaisa
   Finance 35    Frank   60000   6000  aneela
        IT 43   George   64000   7200   rahma

In [9]:
df.loc[3,"Name"]="aqsa" #making change at a specific locaion

print(df)

  Department   a Employee  Salary  Bonus     Name
0         HR  35    Alice   50000   5000    aisha
1         HR  30      Bob   52000   6000  humaira
2         IT  45  Charlie   60000   7000  javeria
3         IT  40    David   62000   6500     aqsa
4    Finance  23      Eva   58000   5500  romaisa
5    Finance  35    Frank   60000   6000   aneela
6         IT  43   George   64000   7200    rahma

In [10]:
df.loc[(3,5),"Name"] = ["Hamna","Zunaira"] #changing more then one 
print(df)

  Department   a Employee  Salary  Bonus     Name
0         HR  35    Alice   50000   5000    aisha
1         HR  30      Bob   52000   6000  humaira
2         IT  45  Charlie   60000   7000  javeria
3         IT  40    David   62000   6500    Hamna
4    Finance  23      Eva   58000   5500  romaisa
5    Finance  35    Frank   60000   6000  Zunaira
6         IT  43   George   64000   7200    rahma

In [15]:
df.drop(index = [2],inplace = True)   #removing a row fr this use index
print(df)

  Department Employee  Salary  Bonus     Name
0         HR    Alice   50000   5000    aisha
1         HR      Bob   52000   6000  humaira
3         IT    David   62000   6500    Hamna
4    Finance      Eva   58000   5500  romaisa
5    Finance    Frank   60000   6000  Zunaira
6         IT   George   64000   7200    rahma

In [37]:
data = {
    "Department": ["HR", "HR", "IT", None, "Finance", "Finance", "IT"],
    "Employee": ["Alice", "Bob", "Charlie",None, "David", "Frank", "George"],
    "Salary": [50000, 52000, 60000,62000, 58000, 60000, 64000],
    "Bonus": [5000, 6000, 7000, 6500,5500,6000, 7200]
}

df = pd.DataFrame(data)
print(df.isnull().sum())

Department    1
Employee      1
Salary        0
Bonus         0
dtype: int64

In [38]:
df.dropna(axis=0,inplace = True) #axis=0 drops a row
print(df)

  Department Employee  Salary  Bonus
0         HR    Alice   50000   5000
1         HR      Bob   52000   6000
2         IT  Charlie   60000   7000
4    Finance    David   58000   5500
5    Finance    Frank   60000   6000
6         IT   George   64000   7200

In [39]:
df.dropna(axis=1,inplace = True)   #axis=1 drop a column
print(df)

  Department Employee  Salary  Bonus
0         HR    Alice   50000   5000
1         HR      Bob   52000   6000
2         IT  Charlie   60000   7000
4    Finance    David   58000   5500
5    Finance    Frank   60000   6000
6         IT   George   64000   7200

In [40]:
print(df.isnull())

   Department  Employee  Salary  Bonus
0       False     False   False  False
1       False     False   False  False
2       False     False   False  False
4       False     False   False  False
5       False     False   False  False
6       False     False   False  False

In [41]:
print(df.notnull())

   Department  Employee  Salary  Bonus
0        True      True    True   True
1        True      True    True   True
2        True      True    True   True
4        True      True    True   True
5        True      True    True   True
6        True      True    True   True

In [42]:
print(df.fillna(23))

  Department Employee  Salary  Bonus
0         HR    Alice   50000   5000
1         HR      Bob   52000   6000
2         IT  Charlie   60000   7000
4    Finance    David   58000   5500
5    Finance    Frank   60000   6000
6         IT   George   64000   7200

In [43]:
data = {
    "Department": ["HR", "HR", "IT", None, "Finance", "Finance", "IT"],
    "Employee": ["Alice", "Bob", "Charlie",None, "David", "Frank", "George"],
    "Salary": [50000, 52000, 60000,62000, 58000, 60000, 64000],
    "Bonus": [5000, 6000, 7000, 6500,5500,6000, 7200]
}

df = pd.DataFrame(data)
print(df.isnull().sum())

Department    1
Employee      1
Salary        0
Bonus         0
dtype: int64

In [44]:
print(df.fillna(23))

  Department Employee  Salary  Bonus
0         HR    Alice   50000   5000
1         HR      Bob   52000   6000
2         IT  Charlie   60000   7000
3         23       23   62000   6500
4    Finance    David   58000   5500
5    Finance    Frank   60000   6000
6         IT   George   64000   7200

In [48]:
data = {
    "Department": ["HR", "HR", "IT", None, "Finance", "Finance", "IT"],
    "Employee": ["Alice", "Bob", "Charlie",None, "David", "Frank", "George"],
    "Salary": [50000, None, 60000,62000, 58000, 60000, 64000],
    "Bonus": [5000, 6000, 7000, None,5500,6000, 7200]
}

df = pd.DataFrame(data)
print(df.isnull().sum())

Department    1
Employee      1
Salary        1
Bonus         1
dtype: int64

In [49]:
df[["Salary","Bonus"]]= df[["Salary","Bonus"]].interpolate(method = "linear")
print(df)

  Department Employee   Salary   Bonus
0         HR    Alice  50000.0  5000.0
1         HR      Bob  55000.0  6000.0
2         IT  Charlie  60000.0  7000.0
3       None     None  62000.0  6250.0
4    Finance    David  58000.0  5500.0
5    Finance    Frank  60000.0  6000.0
6         IT   George  64000.0  7200.0

In [51]:
df.sort_values(by = "Department",ascending = True,inplace = True)
print(df)

  Department Employee   Salary   Bonus
4    Finance    David  58000.0  5500.0
5    Finance    Frank  60000.0  6000.0
0         HR    Alice  50000.0  5000.0
1         HR      Bob  55000.0  6000.0
2         IT  Charlie  60000.0  7000.0
6         IT   George  64000.0  7200.0
3       None     None  62000.0  6250.0

In [53]:
df.sort_values(by = "Employee",ascending = False,inplace = True)
print(df)

  Department Employee   Salary   Bonus
6         IT   George  64000.0  7200.0
5    Finance    Frank  60000.0  6000.0
4    Finance    David  58000.0  5500.0
2         IT  Charlie  60000.0  7000.0
1         HR      Bob  55000.0  6000.0
0         HR    Alice  50000.0  5000.0
3       None     None  62000.0  6250.0

In [61]:
data = {
    "Department": ["HR", "HR", "IT", "IT", "Finance", "Finance", "IT"],
    "Employee": ["Alice", "Bob", "Charlie", "David", "Eva", "Frank", "George"],
    "Salary": [50000, 52000, 60000, 62000, 58000, 60000, 64000],
    "Bonus": [5000, 6000, 7000, 6500, 5500, 6000, 7200]
}

df = pd.DataFrame(data)
grouped = df.groupby("Department")["Bonus"].sum()
print(grouped)

Department
Finance    11500
HR         11000
IT         20700
Name: Bonus, dtype: int64

In [63]:
grouped = df.groupby(["Department","Salary"])["Bonus"].sum() #when addding mmultiple columns then ([]) is used
print(grouped)

Department  Salary
Finance     58000     5500
            60000     6000
HR          50000     5000
            52000     6000
IT          60000     7000
            62000     6500
            64000     7200
Name: Bonus, dtype: int64

### data = {
    "Department": ["HR", "HR", "IT", "IT", "Finance", "Finance", "IT"],
    "Employee": ["Alice", "Bob", "Charlie", "David", "Eva", "Frank", "George"],
    "Salary": [50000, 52000, 60000, 62000, 58000, 60000, 64000],
    "Bonus": [5000, 6000, 7000, 6500, 5500, 6000, 7200]
}

df = pd.DataFrame(data)
filtered = df[df["Department"].isin(["HR","IT"])]
print(filtered)
filtered_salary= df[df["Salary"].isin([52000,60000])]
print(filtered_salary)