In [ ]:
i=1
while i<=100:
   if i % 3 == 0 and i % 5 == 0:
        print(i, "multiple of both 3 and 5")
   elif i % 3 == 0:
       print(i, "miltiple of 3")
   elif i % 5 == 0:
      print(i, "multiple of 5")
      i+=1

In [ ]:
i=1
while i<=100:
if i % 3 == 0 and i % 5 == 0:
      print(i, "multiple of both 3 and 5")
elif i % 3 == 0:
     print(i, "miltiple of 3")
 elif i % 5 == 0:
     print(i, "multiple of 5")
 i+=1

In [1]:
n = 5
i = 1
for i in range (1,11):
    table = n*i
    print(n,"*",i,"=",table)

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [1]:
n = 4
i = 1
while i <= 10:
    table = n*i
    print(n,"*",i,"=",table)
    i+=1

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

In [ ]:
num = 4 
fac = 1
i = 1
while i <= 10:
    fac = fac*i
    print("fac",fac)
    i+=1

In [ ]:
n = input("enter number:")
i=1
while i <= 10:
    table = n * i
    print(n,"*",i,"=",table)
    i += 1

In [4]:
#Write a function which checks wether we have vowels in a string
def has_vowels(text):
    vomels = "aaeiouAEIOU"
    for ch in text:
        if ch in vowels:
            return True
        else:
            return False

In [3]:
i=1
while i<=10:
    print("A")
    i+=1

A
A
A
A
A
A
A
A
A
A

In [ ]:
i=1
while i<=100:
if i % 3 == 0 and i % 5 == 0:
      print(i, "multiple of both 3 and 5")
elif i % 3 == 0:
     print(i, "miltiple of 3")
 elif i % 5 == 0:
     print(i, "multiple of 5")
 i+=1

In [ ]:
i=1
while i<=100:
    if i % 3 == 0 and i % 5 == 0:
          print(i, "multiple of both 3 and 5")
    elif i % 3 == 0:
         print(i, "miltiple of 3")
    elif i % 5 == 0:
         print(i, "multiple of 5")
    i+=1

In [ ]:
num = 4
fac = 1
i = 1

while i<= num:
    fac*=i
    i+=1
    
print("fac is ",fac)

In [6]:
num = 5
fac = 1
i = 1
while i<= num:
    fac*=i
    i+=1
print("fac",fac)

fac 120

In [ ]:
n = input("enter number:")
i=1
while i <= 10:
    table = n * i
    print(n,"*",i,"=",table)
    i += 1

In [ ]:
i = 1
while i<= 100:
    
    if i % 2 == 0 and i % 10 == 0 :
        print(i,"multiple of 2 and 10")
    elif i % 2 ==0:
        print(i,"multiple of 2")
    elif i % 10 == 0:
         print(i,"multiple of 10")
i+=1

In [8]:
num = 3
fac = 1
i = 1
while i<= num:
    fac*=i
    i+=1
print("fac is ",fac)

fac is  6

In [2]:
n =int(input("enter number :"))
i=1
while i<=10:
    table = n*i
    print(n ,"*" ,i ,"=",table)
    i+=1

enter number : 32

32 * 1 = 32
32 * 2 = 64
32 * 3 = 96
32 * 4 = 128
32 * 5 = 160
32 * 6 = 192
32 * 7 = 224
32 * 8 = 256
32 * 9 = 288
32 * 10 = 320

total = 0

while True:
    num = int(input("Enter a number (-1 to stop): "))
    if num == -1:
        break
    total += num

print("Sum of all numbers:", total)

In [20]:
unit = int(input("entr the unit:"))
bill = 0
if unit <= 100:
    bill = unit * 30
elif unit <= 200:
    bill = unit*30 + (unit - 100)* 40
elif unit <= 300:
    bill = unit * 30 + unit * 40 +(unit - 200)* 60
else:
     bill = unit * 30 + unit * 40 + unit * 60 + (unit - 300)*80
print(" Total comsumed units are",unit,"total bill is",bill)

if bill > 10000:
    tax = bill*0.15
    bill = bill+tax
print("total consumed unit are",unit,"total bill is" ,bill)

entr the unit: 245

 Total comsumed units are 245 total bill is 19850
total consumed unit are 245 total bill is 22827.5

In [5]:
num = int(input("enter the number :"))
rev = 0
while num > 0:
    digit = num % 10
    rev = rev *10 + digit
    num //= 10
print("reversed" , rev)

enter the number : 4567

reversed 7654

In [ ]:
total = 0

while True:
    num = int(input("Enter a number (-1 to stop): "))
    if num == -1:
        break
    total += num

print("Sum of all numbers:", total)

In [ ]:
n = int(input("Enter the number of terms: "))

a, b = 0, 1   
count = 0

print("Fibonacci series:")

while count < n:
    print(a, end=" ")
    a, b = b, a + b   
    count += 1

In [2]:
num = int(input(" enter the number :"))
a , b = 0 , 1
count = 0
print (" Fibonacci series ")
while count < num :
    print(a ,end=" ")
    a , b = b , a+b
    count += 1

 enter the number : 8

0 1 1 2 3 5 8 13

In [3]:
num = int(input("enter the number : "))
a , b = 2 , 3
count = 0 
while count < num:
    print (a , end = " ")
    a , b = b, a+b
    count += 1

enter the number :  6

2 3 5 8 13 21

In [2]:
basic_sallery = float(input("Enter the basic sallery : "))
if basic_sallery <= 10000:
    HRA = basic_sallery * 0.20
    DA =  basic_sallery * 0.80
    
elif basic_sallery <= 20000:
    HRA = basic_sallery * 0.25
    DA =  basic_sallery * 0.90
else:
    HRA = basic_sallery * 0.30
    DA =  basic_sallery * 0.95
gross = basic_sallery + HRA + DA
print("Gross Salary:", gross)

Enter the basic sallery :  35000

Gross Salary: 78750.0

In [ ]:
num = int(input("enter the number: "))
a , b = 2 , 3
count = 0 
while count < num:
    print (a , end = " ")
    a , b = b, a+b
    count += 1

In [ ]:
num = int (input("enterr the number: "))
a , b = 3 , 4
count =0
while count <= num :
    print (a , end= " ")
    a , b = b , a+b
    count += 1

In [1]:
#square of a num
square = lambda x : x*x
print(square(5))

25

In [4]:
#add numbers 
add = lambda x,y,z : x+y+z
print(add(2,3,4))

9

In [6]:
even = lambda x :"even" if x % 2 == 0  else "odd"
print(even(20))

even

In [12]:
last = lambda x : x[2] #to get index 
print(last("aarib"))

r

In [16]:
divide =  lambda x: int( x/4) # type conversion/type casting
print(divide(24))

6

In [18]:
odd = lambda x : "odd" if x % 2!=0  else "even"
print(odd(45))

odd

In [20]:
multiply = lambda x , y : x*y
print(multiply(3,5))

15

In [21]:
power = lambda x : x**3 # for taking power of any value
print(power(5))

125

In [25]:
#examples of functions
def add(x,y):
    result = x+y
    return result

In [26]:
add(3,4)

7

In [35]:
def fun(name):
    name = name [1]
    return name

In [37]:
fun("aisha")

'i'

In [40]:
def module(x,y):
    result = x%y
    return result

In [41]:
module(5,10)

5

In [45]:
module = lambda x,y : x % y
print(module(5,10))

5

In [50]:
greeting = lambda name : ('hello,',name)
print(greeting("ali"))

('hello,', 'ali')

In [52]:
list = lambda x, y : ('hello',x,"and",y)
print(list("aisha","romaisa"))

('hello', 'aisha', 'and', 'romaisa')

In [2]:
max = lambda x,y : x if x>y else b
print(max(20,15))

20

In [3]:
min = lambda x,y : x if x<y else y
print(min(20,24))

20

In [5]:
fact = lambda x : 1 if x==0 else x*fact(x-1)
print(fact(5))

120

In [7]:
#filtering number from a list
num = [1,2,3,4,5,6,7,8]
even = list(filter(lambda x : x % 2 == 0 ,num))
print(even)

[2, 4, 6, 8]

In [8]:
name = lambda name : name.upper()
print(name("aisha"))

AISHA

In [9]:
name = lambda name : name.lower()
print(name("AISHA"))

aisha

In [12]:
s = "Dev valley"
print ( s[2:7]) 
print ( s[: : -1])
print ( s[2:5])

v val
yellav veD
v v

In [14]:
s = "aisha" 
print( s[: :-1])

ahsia

In [19]:
#removing extra spaces from start and end
s = "    learning ai from dev valley . In the morning section.  "
print(s.strip())

learning ai from dev valley . In the morning section.

In [2]:
#to remove lettrs from start and end
s = "ppaishapp"
print(s.strip("p"))

aisha

In [4]:
#to replace any digit(no to be change,from no )
s = "dov valley"
print(s.replace("o","e"))

dev valley

In [5]:
list = "  learning ai from dev valley . In the morning section  "
print(list.strip())
print( list.replace("a","A"))

learning ai from dev valley . In the morning section
  leArning Ai from dev vAlley . In the morning section

In [6]:
list = " I am a student"
print(list.split())

['I', 'am', 'a', 'student']

In [8]:
#to split regarding any specific character
fruits = "apple,banana,cherry,guave"
print(fruits.split(","))

['apple', 'banana', 'cherry', 'guave']

In [10]:
s = "devovalley"
print(s.split("o"))

['dev', 'valley']

In [11]:
num = " one -four-five-six"
print(num.split("-"))

[' one ', 'four', 'five', 'six']

In [14]:
list = " I am a student.   "
print(list.lstrip())

I am a student.

In [15]:
list = " I am a student.   "
print(list.strip())

I am a student.

In [20]:
text = "aisha,romaisa,javeria,saba"
print(text.split(",",2))

['aisha', 'romaisa', 'javeria,saba']

In [21]:
list = " my name is aisha jameel"
print(list.split("jameel"))

[' my name is aisha ', '']

In [23]:
list = " my name is aisha jameel"
print(list.rstrip("jameel"))

 my name is aisha

In [24]:
list = "if Learning AI is a fun"
print(list.lstrip("if"))

 Learning AI is a fun

In [33]:
try:
    num = int(input("Enter a number: "))
    if num %2 == 0:
        print(num,"num is even")
    else:
        print(num, "num is odd")
    
except :
 print("invalid number")

Enter a number:  78

78 num is even

In [13]:
try:
    x= int(input("enter a number"))
    result = 20/x
    print("result:",result)
except ZeroDivisionError:
    print("can not be divided by zero")
except ValueEroor:
    print("please enter a valid number")

enter a number 250

result: 0.08

In [23]:
try:
    s = input("enter a number :")
    num = int(s)
    print("Number +5=", num+5)
except valueerror:
    print("error:value must be a number")
finally:
    print("conversion finished")

enter a number : 34

Number +5= 39
conversion finished

In [25]:
try:
    balance = 10000
    withdraw = int(input("enter the amout to withdraw: "))
    if withdraw < balance:
        balance -= withdraw
        print("withdrawal successful!remaining balance:",balance)
    else :
        print("insufficient balance")
except valueerror as e:
    print("transaction error: ",e)
finally:
    print("transaction closed")

enter the amout to withdraw:  6000

withdrawal successful!remaining balance: 4000
transaction closed

In [38]:

#keyerror
students = {"ali": 80, "sara":75 ,"madiha":30}
name = input("enter student name : ")
try:
     print("Marks:", students[name])
except KeyError:
    print("no record found for ", name)

enter student name :  ali

Marks: 80

In [4]:
class Greeting:
    def say_hello(self):
        return"hello"
obj = Greeting()
print(obj.say_hello())

hello

In [15]:
class Student:
    def __init__(self,name ,age,height):
        self.name = name
        self.age = age
        self.height = height
    def check_selection(self):
        if   16 <= self.age <= 25 and self.height >= 5.6:
            return "selected for football match"
        else:
            return "not selected"
    def show(self):
        print("name:" , self.name)
        print("age:" , self.age)
        print("height:", self.height, "ft")
        print("status:" , self.check_selection())
        print("_" * 30)
s1 = Student("Ali", 18, 5.8)
s2 = Student("Aisha", 17, 5.4)
s3 = Student("Omar", 22, 6.0)
s4 = Student("ashar", 24, 5.9)

s1.show()
s2.show()
s3.show()
s4.show()

name: Ali
age: 18
height: 5.8 ft
status: selected for football match
______________________________
name: Aisha
age: 17
height: 5.4 ft
status: not selected
______________________________
name: Omar
age: 22
height: 6.0 ft
status: selected for football match
______________________________
name: ashar
age: 24
height: 5.9 ft
status: selected for football match
______________________________

In [6]:
class Discount:
    def __init__(self,items,price,quantity):
        self.items = items
        self.price = price
        self.quantity = quantity
    def check_discount(self):
        if self.quantity > 5 and  self.price >= 4000:
            return " 40% discount on selected items"
        else:
            return"no discount"
    def show(self):
        print ("items:", self.items)
        print("price:" , self.price)
        print("quantity:" ,self.quantity)
        print("discount:" , self.check_discount())
        print("_" * 20)
a1 = Discount("oil",2500,5)
a2 = Discount("soap",250 ,10)
a3 = Discount("shampoo", 2000,6)
a1.show()
a2.show()
a3.show()

items: oil
price: 2500
quantity: 5
discount: no discount
____________________
items: soap
price: 250
quantity: 10
discount: no discount
____________________
items: shampoo
price: 2000
quantity: 6
discount: no discount
____________________

In [4]:
class Discount:
    def __init__(self,items,price,quantity):
        self.items = items
        self.price = price
        self.quantity = quantity
    def check_discount(self):
        total_price = self.price *self.quantity
        if self.quantity > 5 or total_price >= 5000:
            discount_amount = total_price * 0.40
            final_price = total_price - discount_amount
            return f"40% discount applied! final price={final_price}"
        else:
            return f"no discount.total price = {total_price}"
    def show(self):
        print("Items:",self.items)
        print("Price per item:", self.price)
        print("Quantity:",self.quantity)
        print("Discount:", self.check_discount())

a1 = Discount("oil",450 ,7)
a2 = Discount("shampoo",2500,4)
a3 = Discount("handbag:",3000,3)
a1.show()
a2.show()
a3.show()

Items: oil
Price per item: 450
Quantity: 7
Discount: 40% discount applied! final price=1890.0
Items: shampoo
Price per item: 2500
Quantity: 4
Discount: 40% discount applied! final price=6000.0
Items: handbag:
Price per item: 3000
Quantity: 3
Discount: 40% discount applied! final price=5400.0

In [7]:
class Student:
    def __init__(self,name ,age,height):
        self.name = name
        self.__age = age
        self.height = height
    def check_selection(self):
        if   16 <= self.__age <= 25 and self.height >= 5.6:
            return "selected for football match"
        else:
            return "not selected"
    def show(self):
        print("name:" , self.name)
        print("age:" , self.__age)
        print("height:", self.height, "ft")
        print("status:" , self.check_selection())
        print("_" * 30)
s1 = Student("Ali", 18, 5.8)
s2 = Student("Aisha", 17, 5.4)
s3 = Student("Omar", 22, 6.0)
s4 = Student("ashar", 24, 5.9)

s1.show()
s2.show()
s3.show()
s4.show()

name: Ali
age: 18
height: 5.8 ft
status: selected for football match
______________________________
name: Aisha
age: 17
height: 5.4 ft
status: not selected
______________________________
name: Omar
age: 22
height: 6.0 ft
status: selected for football match
______________________________
name: ashar
age: 24
height: 5.9 ft
status: selected for football match
______________________________

In [8]:

#with capitalisation(private)
class Discount:
    def __init__(self,items,price,quantity):
        self.items = items
        self.price = price
#to privatise any variable use (self.__variable name)
        self.__quantity = quantity
    def check_discount(self):
        total_price = self.price *self.__quantity
        if self.__quantity > 5 or total_price >= 5000:
            discount_amount = total_price * 0.40
            final_price = total_price - discount_amount
            return f"40% discount applied! final price={final_price}"
        else:
            return f"no discount.total price = {total_price}"
    def show(self):
        print("Items:",self.items)
        print("Price per item:", self.price)
        print("Quantity:",self.__quantity)
        print("Discount:", self.check_discount())

a1 = Discount("oil",450 ,7)
a2 = Discount("shampoo",2500,4)
a3 = Discount("handbag:",3000,3)
a1.show()
a2.show()
a3.show()

Items: oil
Price per item: 450
Quantity: 7
Discount: 40% discount applied! final price=1890.0
Items: shampoo
Price per item: 2500
Quantity: 4
Discount: 40% discount applied! final price=6000.0
Items: handbag:
Price per item: 3000
Quantity: 3
Discount: 40% discount applied! final price=5400.0

In [10]:
# to access a single atribute
class Discount:
    def __init__(self,items,price,quantity):
        self.items = items
        self.price = price
        self.__quantity = quantity
    def check_discount(self):
        total_price = self.price *self.__quantity
        if self.__quantity > 5 or total_price >= 5000:
            discount_amount = total_price * 0.40
            final_price = total_price - discount_amount
            return f"40% discount applied! final price={final_price}"
        else:
            return f"no discount.total price = {total_price}"
    def show(self):
        print("Items:",self.items)
        print("Price per item:", self.price)
        print("Quantity:",self.__quantity)
        print("Discount:", self.check_discount())

a1 = Discount("oil",450 ,7)
a2 = Discount("shampoo",2500,4)
a3 = Discount("handbag:",3000,3)
#to access single atribute print(a1._classname__variablename)
print(a1._Discount__quantity) 
a2.show()
a3.show()

7
Items: shampoo
Price per item: 2500
Quantity: 4
Discount: 40% discount applied! final price=6000.0
Items: handbag:
Price per item: 3000
Quantity: 3
Discount: 40% discount applied! final price=5400.0

In [24]:
class Vehicle:
    def __init__(self,name,color):
      self.name=name
      self.color=color
    def show(self):
     print("name:",self.name)
     print("color:",self.color)
class Car(Vehicle):
    pass

car=Car("BMW","BLACK")
car.show()

name: BMW
color: BLACK

In [26]:
#inheritance
class Vehicle:
    def __init__(self,name,color):
      self.__name=name
      self.color=color
    def __show(self):
     print("name:",self.__name)
     print("color:",self.color)
car=Vehicle("BMW","black")
bus=Vehicle("Raja","red")
#same as variable access
car._Vehicle__show()
bus._Vehicle__name

name: BMW
color: black

'Raja'

In [36]:
class Flower:
    def __init__(self,name,color):
        self.__name = name
        self.color = color
    def __show(self):
        print("name:" , self.__name)
        print("color:" , self.color)
f1 = Flower("rose" ,"red")
f2 = Flower("sunflower" ," yellow")
f1._Flower__show()
f2._Flower__name

name: rose
color: red

'sunflower'

In [35]:
#inheritance
class Flower:
    def __init__(self,smell,color):
        self.__smell = smell
        self.color = color
    def __show(self):
        print("smell:" , self.__smell)
        print("color:" , self.color)
class rose(Flower):
    pass
r1 = rose("sweet" , "red")
r1._Flower__show()

smell: sweet
color: red

In [42]:
#without constructor
class Flower:
    def show(self):
        print("smell:" ,self.smell)
        print("color:" , self.color)
class Rose(Flower):
    pass
r = Rose()
r1 = Rose()
r.smell =" sweet"
r.color = "red"
r.show()
r1.smell = "bad"
r1.color = "white"
r1.show()

smell:  sweet
color: red
smell: bad
color: white

In [39]:
class Bank:
    def __init__(self,balance,account_type):
        self.__balance = balance
        self.__account_type = account_type
    def __show(self):
        print("balance:" ,self.__balance)
        print("account_type:" , self.__account_type)
A1 = Bank(150000 , "premium")
A2 = Bank(10000 , "gold")
A1._Bank__show()
A2._Bank__show()

balance: 150000
account_type: premium
balance: 10000
account_type: gold

In [41]:
#inheritance
class Bank:
    def __init__(self,balance,account_type):
        self.__balance = balance
        self.__account_type = account_type
    def __show(self):
        print("balance:" ,self.__balance)
        print("account_type:" , self.__account_type)
    #subclass (mainclass):
    #pass
    #atributes =subclass()
    #_class__show()
class Loan(Bank):
    pass
A1= Loan(100000 , "premiun")
A1._Bank__show()

balance: 100000
account_type: premiun

In [6]:
#Write a function which checks wether we have vowels in a string
def has_vowels(text):
    vowels = "aeiouAEIOU"
    for ch in text:
        if ch in vowels:
            return True
        else:
            return False

In [7]:
#to call function
has_vowels("aisha")

True

In [8]:
has_vowels("lptp")

False

In [11]:
#"".join(...) Joins all kept characters together into a single string.
remove_vowels = lambda name:"".join(ch for ch in name if ch.lower() not in "aeiou") 
print(remove_vowels("aisha"))

sh

In [20]:
#inheritance example
#parent class 
class Person:
    def __init__(self,name,age):
        self.name = name
        self.age = age
    def display_info(self):
        print(f"name: {self.name},age: {self.age}")
    #child class 1(inherit from parents
class Student(Person):
    def __init__(self,name ,age,grade):
#call parent constructor 
 #super().__init__(...) is used to call the parent constructor, so we don’t rewrite code.
        super().__init__(name,age)
        self.grade = grade
    def display_info(self):
        super().display_info()
        print(f"Grade: {self.grade}")
#child class 2
class Teacher(Person):
    def __init__(self,name,age,subject,salary):
        super().__init__(name,age)
        self.subject = subject
        self.salary = salary
    def display_info(self):
        super().display_info()
        print(f"Subject :{self.subject}, salary: {self.salary}")
        

#usage
s1 = Student("ali" , 20, "10th grade")
s2 = Student("ahsan" ,10 , "9th grade")
t1 = Teacher ("ahsan", 35 , "mathematics",18000)
s1.display_info()
t1.display_info()
print("----")

name: ali,age: 20
Grade: 10th grade
name: ahsan,age: 35
Subject :mathematics, salary: 18000
----